@{
	ViewData["Title"] = "Home Page";
}
<br />
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-outline card-info">
				<div class="card-body">
					<h4>&#183; 제목</h4>
					<input class="form-control" type="text" name="title">
					<br />
					<h4>&#183; 내용</h4>
					<div class="summernote"></div>
					<br />
					<h4>&#183; 출원자</h4>
					<input class="form-control" type="text" name="title">
					<br />
				</div>
			</div>
		</div>
	</div>
</section>
@section Scripts {
	<script>
		$(function () {
			$('.summernote').summernote({
				height: 500
			});
		})
	</script>
}