@{
	ViewData["Title"] = "Home Page";
}
<!-- Main content -->
<div class="content" style="padding: 15px 0.5rem;">
	<!-- /.content -->
	<div class="container-fluid">
		<!-- /.row -->
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">회원목록</h3>
						<div class="card-tools">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input type="text" name="table_search" class="form-control float-right" placeholder="Search">

								<div class="input-group-append">
									<button type="submit" class="btn btn-default">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- /.card-header -->
					<div class="card-body table-responsive p-0">
						<table class="table table-hover text-nowrap">
							<thead style="text-align: center;">
								<tr>
									<th>번호</th>
									<th>질문유형</th>
									<th>성명</th>
									<th>회사명</th>
									<th>연락처</th>
									<th>답변여부</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody style="text-align: center;">
								<tr>
									<td>5</td>
									<td>K2G GTT</td>
									<td>홍길동</td>
									<td><span class="tag tag-success">(주)옐로나이프</span></td>
									<td>010-0000-0000</td>
									<td>답변완료</td>
									<td><button type="button" class="btn btn-block btn-danger" style="display: inline; width: 50%;">삭제</button></td>
								</tr>
								<tr>
									<td>4</td>
									<td>K2G GTT</td>
									<td>홍길동</td>
									<td><span class="tag tag-success">(주)옐로나이프</span></td>
									<td>010-0000-0000</td>
									<td>답변완료</td>
									<td><button type="button" class="btn btn-block btn-danger" style="display: inline; width: 50%;">삭제</button></td>
								</tr>
								<tr>
									<td>3</td>
									<td>K2G GTT</td>
									<td>홍길동</td>
									<td><span class="tag tag-success">(주)옐로나이프</span></td>
									<td>010-0000-0000</td>
									<td>답변완료</td>
									<td><button type="button" class="btn btn-block btn-danger" style="display: inline; width: 50%;">삭제</button></td>
								</tr>
								<tr>
									<td>2</td>
									<td>K2G GTT</td>
									<td>홍길동</td>
									<td><span class="tag tag-success">(주)옐로나이프</span></td>
									<td>010-0000-0000</td>
									<td>답변완료</td>
									<td><button type="button" class="btn btn-block btn-danger" style="display: inline; width: 50%;">삭제</button></td>
								</tr>
								<tr>
									<td>1</td>
									<td>K2G GTT</td>
									<td>홍길동</td>
									<td><span class="tag tag-success">(주)옐로나이프</span></td>
									<td>010-0000-0000</td>
									<td>답변완료</td>
									<td><button type="button" class="btn btn-block btn-danger" style="display: inline; width: 50%;">삭제</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
		</div>		
	</div>
</div>