@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
    <title>GTT-Global Technology Trading</title>
</head>

<body>
    <script src="/js/echarts.min.js" language="javascript"></script>
    <script src="/js/jquery-1.8.3.min.js" language="javascript"></script>
    <script src="/js/common.js" language="javascript"></script>
    <div>
        <header class="flex between">
            <span class="pad30">
                <a href="/en">
                    <h2><strong id="logo"><span style="color:#C00;">K2G</span> <span>GTT</span></strong></h2>
                </a>
            </span>
            <div id="hamburger" onClick="hamburger()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav id="nav">
                <a href="/en/about/" class="pad20">About K2G</a>
                <a href="/en" class="pad20">Tech Finder</a>
                <a onClick="javascript:alert('Comming soon.')" class="pad20">Hot Tech</a>
                @{
                    if (Context.Session.GetString("MemberId") != null)
                    {
                        <a href="/en/mypage/" class="pad20">My Page</a>
                        <a href="/en/logout/" class="pad20">Log Out</a>
                    }
                    else
                    {
                        <a href="/en/login/" class="pad20">Log in</a>
                    }
                }
                <a href="/kr" class="pad20">Korean</a>
            </nav>
        </header>
        <div>
            <nav id="mnav" class="tc">
                <a href="/en/about/" class="pad20">About K2G</a>
                <a href="/en" class="pad20">Tech Finder</a>
                <a onClick="javascript:underconstruction()" class="pad20">Hot Tech</a>
                @{
                    if (Context.Session.GetString("MemberId") != null)
                    {
                        <a href="/en/mypage/" class="pad20">My Page</a>
                        <a href="/en/logout/" class="pad20">Log Out</a>
                    }
                    else
                    {
                        <a href="/en/login/" class="pad20">Log in</a>
                    }
                }
                <a href="/en" class="pad20">Korean</a>
                <hr>
                <a href="" class="pad20">Terms of Agreement</a>
                <a href="" class="pad20">Privacy Policy</a>
            </nav>
        </div>
    </div>
    @RenderBody()
    <div>
        <footer class="flex between">
            <span class="pad30" style="white-space: nowrap;">
                Copyright &copy; <strong><a href="http://k2g.co.kr">K2GPartners</a></strong> 2019.<wbr> All rights Reserved.
            </span>
            <nav class="flex center pad20 mhide">
                <a href="" class="pad10">Terms of Agreement</a>
                <span class="pad10">&nbsp;|&nbsp;</span>
                <a href="" class="pad10">Privacy Policy</a>
            </nav>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>

		function clipresize() {
			var windowWidth = window.innerWidth;
			var windowHeight = windowWidth / 1.7777
			$('#mainSection').css('height', windowHeight);
		}

		clipresize();

		$(function () {
			$(window).resize(clipresize);
		});

    </script>
</body>
</html>
