@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
    <title>GTT-Global Technology Trading</title>
</head>
<body>
    <script src="/js/echarts.min.js" language="javascript"></script>
    <script src="/js/jquery-1.8.3.min.js" language="javascript"></script>
    <script src="/js/common.js" language="javascript"></script>
    <div>
        <header>
			<div id="tnb" class="flex between mhide" style="background-color: #333; color:#FFF; padding:2px 0; font-size:0.8em;">
				<div>&nbsp;</div>
				<div class="flex vcenter">
				@{
					if (Context.Session.GetString("MemberId") != null)
					{
						<a href="/en/mypage" class="pad20">My Page</a>
						<a href="/en/logout" class="pad20">Log Out</a>
					}
					else
					{
						<a href="/en/login" class="pad20">Log in</a>
					}
				}
				<a href="/kr" class="pad20"><img src="/img/kor.png" style="width:25px; border-radius: 30px;" alt="Korean" title="Korean"></a>
				</div>
			</div>
			<div class="flex between">
				<span class="pad30">
					<a href="/en">
						<h2><strong id="logo"><span style="color:#00B0EC">K</span><span style="color:#898989">2</span><span style="color:#3EB134">G</span>&nbsp;<span>GTT</span></strong></h2>
						<p style="font-size:12pt; margin-top:-10px;">GLOBAL TECH TRADING</p>
					</a>
				</span>
				<div id="hamburger" onClick="hamburger()">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<nav id="nav" class="bold">
					<a href="/en/about" class="pad20">About K2G</a>
					<a href="/en" class="pad20">Tech Finder</a>
					<a class="pad20" onClick="underconstruction('en')">User Finder</a> 
					<a href="/en/hottech" class="pad20">Hot Tech</a>
					<a href="/en/networks" class="pad20">Networks</a>					
				</nav>
			</div>
        </header>
        <div>
            <nav id="mnav" class="tc">
                <a href="/en/about" class="pad20">About K2G</a>
                <a href="/en" class="pad20">Tech Finder</a>
				<a class="pad20" onClick="underconstruction('en')">User Finder</a>
                <a href="/en/hottech" class="pad20">Hot Tech</a>
				<a href="/en/networks" class="pad20">Networks</a>
                @{
                    if (Context.Session.GetString("MemberId") != null)
                    {
                        <a href="/en/mypage" class="pad20">My Page</a>
                        <a href="/en/logout" class="pad20">Log Out</a>
                    }
                    else
                    {
                        <a href="/en/login" class="pad20">Log in</a>
                    }
                }
                <a href="/kr" class="pad20">Korean</a>
            </nav>
        </div>
    </div>
    @RenderBody()
    <div>
        <footer class="flex between">
            <span class="pad30" style="white-space: nowrap;">
                Copyright &copy; <strong><a href="http://k2g.co.kr">K2GPartners</a></strong> 2019.<wbr> All rights Reserved.
            </span>
            <nav class="flex center pad20 mhide">
                <a href="" class="pad10">Terms of Agreement</a>
                <span class="pad10">&nbsp;|&nbsp;</span>
                <a href="" class="pad10">Privacy Policy</a>
            </nav>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
