@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
    <title>GTT-Global Technology Trading</title>
</head>
<body>
	<script src="/js/echarts.min.js" language="javascript"></script>
	<script src="/js/jquery-1.8.3.min.js" language="javascript"></script>
	<script src="/js/common.js" language="javascript"></script>
	<div>
		<div id="tnb" class="flex between mhide" style="background-color: #333; color:#FFF; padding:2px; font-size:0.8em;">
			@{
				if (Context.Session.GetString("MemberId") != null)
				{
					<a href="/kr/mypage/" class="pad20">My Page</a>
					<a href="/kr/logout/" class="pad20">Log Out</a>
				}
				else
				{
					<a href="/kr/login/" class="pad20">Log in</a>
				}
			}
			<a href="/en" class="pad20"><img src="/img/eng.png" style="width:25px; border-radius: 30px;" alt="English" title="English"></a>
		</div>
		<header class="flex between">
			
			<div class="flex between">
			<span class="pad30">
				<a href="/kr">
					<h2><strong id="logo"><span style="color:#00B0EC">K</span><span style="color:#898989">2</span><span style="color:#3EB134">G</span>&nbsp;<span>GTT</span></strong></h2>
					<p style="font-size:12pt; margin-top:-10px;">GLOBAL TECH TRADING</p>
				</a>
			</span>
			<div id="hamburger" onClick="hamburger()">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav id="nav">
				<a href="/kr/about/" class="pad20">About K2G</a>
				<a href="/kr" class="pad20">Tech Finder</a>
				<a href="/kr/hottech/" class="pad20">Hot Tech</a>
				<a href="/kr/networks/" class="pad20">Networks</a>				
			</nav>
			</div>
		</header>
		<div>
			<nav id="mnav" class="tc" style="padding-top:100px;">
				<a href="/kr/about/" class="pad20">About K2G</a>
				<a href="/kr" class="pad20">Tech Finder</a>
				<a href="/kr/hottech/" class="pad20">Hot Tech</a>
				<a href="/kr/networks/" class="pad20">Networks</a>
				@{
					if (Context.Session.GetString("MemberId") != null)
					{
						<a href="/kr/mypage/" class="pad20">My Page</a>
						<a href="/kr/logout/" class="pad20">Log Out</a>
					}
					else
					{
						<a href="/kr/login/" class="pad20">Log in</a>
					}
				}
				<a href="/en" class="pad20">English</a>
				<hr>
				<a href="" class="pad20">회원약관</a>
				<a href="" class="pad20">개인정보보호방침</a>
			</nav>
		</div>
	</div>
	@RenderBody()
	<div>
		<footer class="flex between">
			<span class="pad30" style="white-space: nowrap;">
				Copyright &copy; <strong><a href="http://k2g.co.kr" target="_blank">K2GPartners</a></strong> 2019.<wbr> All rights Reserved.
			</span>
			<nav class="flex center pad20 mhide">
				<a href="" class="pad10">회원약관</a>
				<span class="pad10">&nbsp;|&nbsp;</span>
				<a href="" class="pad10">개인정보보호방침</a>
			</nav>
		</footer>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>