@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="/css/style.css" rel="stylesheet">
	<title>GTT-Global Technology Trading</title>
</head>

<body>
	<script src="/js/echarts.min.js" language="javascript"></script>
	<script src="/js/jquery-1.8.3.min.js" language="javascript"></script>
	<script src="/js/common.js" language="javascript"></script>
	<div>
		<header class="flex between">
			<span class="pad30">
				<a href="/kr">
					<h2><strong id="logo"><span style="color:#C00;">K2G</span><span>GTT</span></strong></h2>
				</a>
			</span>
			<nav id="nav" class="flex center mhide">
				<a href="/kr/about/" class="pad20">About K2G</a>
				<a href="/kr" class="pad20 active">TechFinder</a>
				<a onClick="javascript:underconstruction()" class="pad20">HotTech</a>
				@{
					if (Context.Session.GetString("MemberId") != null)
					{
						<a href="/kr/mypage/" class="pad20">MyPage</a>
						<a href="/kr/logout/" class="pad20">Log Out</a>
					}
					else
					{
						<a href="/kr/login/" class="pad20">Log in</a>
					}
				}
				<a href="/en" class="pad20">English</a>
			</nav>
		</header>
	</div>
	@RenderBody()
	<div>
		<footer class="flex between">
			<span class="pad30" style="white-space: nowrap;">
				Copyright &copy; <strong><a href="http://k2g.co.kr">K2GPartners</a></strong> 2019.<wbr> All rights Reserved.
			</span>
			<nav class="flex center mhide">
				<a href="" class="pad20">개인정보보호방침</a>
			</nav>
		</footer>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	@RenderSection("Scripts", required: false)
	<script>

		function clipresize() {
			var windowWidth = window.innerWidth;
			var windowHeight = windowWidth / 1.7777
			$('#mainSection').css('height', windowHeight);
		}

		clipresize();

		$(function () {
			$(window).resize(clipresize);
		});

	</script>
</body>
</html>
