<div class="w800">
	<img src="/img/about.png" style="border-radius: 20px; margin-bottom:20px;" alt="about">
    <h3>Hello,<br>Welcome to K2G Partners.</h3>
    <p class="mt10">
        Established in June, 2018, K2G Partners is a company who aims for IP transaction from Korea to Global market. In particular, we are specialized in Monetization and Commercialization of IP stemmed from Korea. By doing so, K2G Partners maximize value of our client’s IP.</br></br>

        Furthermore, we provide unique and distinctive consulting services. K2G has developed its own analytics tools such as K2G PAS, K2G IRM, and K2G CAS. Those analytic solutions serve to diagnose customers’ IP assets and suggest strategy on how to strengthen customers’ IP portfolio. We are also willing to directly engage in making outstanding inventions power patents.</br></br>

        I am proud of K2G members with professional and extensive experience in corporate as well as public sectors. Distinguished from any other IP service companies, we will devote ourselves for continuous and long-term service to prove its quality.</br></br>

        Like an in-house patent team, we will do our best to provide our clients with differentiated capabilities and experiences. We hope to see our clients leading IP innovation using K2G Partners' service.</br></br>

        Thank you.

        <br><br>
        jun, 2018
    </p>
    <h3>Kim Jeong Jung.</h3>
</div>