<div class="w600 pad30" style="overflow: hidden;">
    <form name="search" method="get" class="" action="./send.html">
        <div>
            <textarea class="w100 pad20" placeholder="문의사항을 입력하세요." rows="10" name="content" style="resize: vertical; box-sizing: border-box;"></textarea>
            <input type="submit" value="완료" class="vertical style w100">
            <div class="flex between mt10">
                <a href="./password" class="link">비밀번호 찾기</a>
                <a href="./register" class="link">회원가입</a>
            </div>
        </div>
    </form>
</div>