@model K2GGTT.ViewModels.HotTechViewModel
<div class="w1400">
    <h2 class="pad10">@(Model.Title)</h2>
    <article>
        <section>
            <div id="article" class="pad30" style="white-space: pre-line; border:#CCC 1px solid;">
                @(Html.Raw(Model.Content))
                <div class="pad20" style="background-color:#EEE; white-space: nowrap;">
                    <img src="~/ufile/@(Model.ApplicantImgSrc)" alt="Image" width="150" height="180">
                    <h5>@(Model.ApplicantName)</h5>
                    <h5 style="white-space: pre-line;">
                        @(Model.ApplicantMajor)
                    </h5>
                </div>
            </div>
        </section>
    </article>
</div>