<style>
	header {
		position: absolute;
		top: 0;
		width: 100%;
		background: linear-gradient(#FFF, transparent);
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: linear-gradient(transparent, #FFF);
	}
</style>
<div id="slider" class="bgcover" style="width: 100%; height: 100vh; background-color: #EEE; background-image: url('/img/image2.jpg');">

	<form name="search" method="get" class="flex center w100 h100" action="En/Result">
		<div>
			<div style="max-width: 1000px; padding:10px 40px; box-sizing: border-box">
				Tech Finder has a module that enables users a quick search for technology originating from Korea to meet the needs and demands of overseas users.
			</div>
			<div class="pad20" style="overflow:visible;">
				<div style="box-sizing: border-box;overflow:visible;">
					<input name="keywords" id="main_search" placeholder="Input your keywords">
					<button type="submit" class="none"></button>
				</div>
			</div>

			<div class="w100 flex center">
                <div style="padding:30px; background-color:rgba(0,0,0,0.7); color:#FFF;">
                    <h4 class="mb30 tc">※ AND, OR Commands</h4>
                    <p>
                        AND : *  OR : + (ex : car*black*box+navigator)
                    </p>
                </div>
			</div>
		</div>
	</form>
</div>