<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<div id="map"></div>
<script>
	function initMap() {
		const centerPosition = { lat: 30.523391, lng: 27.331973 };
		const map = new google.maps.Map(document.getElementById("map"), {
			zoom: 2,
			center: centerPosition,
		});
		const markerPosition = [
			["Andean Community", -12.094507640425967, -77.02634373169582],
			["Arab Countries", 31.969629709830397, 35.904524326364744],
			["Argentina", -34.59653176260753, -58.37225138705527],
			["Australia & New Zealand", -38.21310831102072, 144.096443589137],
			["Austria", 48.205672437680725, 16.37764341339499],
			["Benelux", 51.97906769894381, 5.3348396712119035],
			["Brazil", -22.899988587274464, -43.1789186450089],
			["Britain & Ireland", 55.755106954600926, -4.167947916994035],
			["Chile", -33.43893668748874, -70.63851310613374],
			["China", 39.90656943003838, 116.35988348323681],
			["Chinese Taipei", 25.03186835406261, 121.5482808108552],
			["Czech Republic & Slovakia", 50.07581451078436, 14.456804552367068],
			["France", 45.40865177916843, 12.370761726785078],
			["Germany", 48.139891807612, 11.575599269213072],
			["Hungary", 47.500244430925434, 19.05459732686112],
			["India", 28.417558891976995, 77.09620758209567],
			["Israel", 31.88801075219599, 34.73617696869085],
			["Italy", 45.064296361096424, 7.6841883132805195],
			["Japan", 35.6673940221259, 139.74603535530377],
			["Korea", 37.29318159740659, 127.04221738233704],
			["Malaysia", 3.1481949644358216, 101.69631425291774],
			["Mexico", 19.394852292455937, -99.17752686327518],
			["Philippines", 14.559879539823973, 121.01778954132648],
			["Poland", 52.20883032679287, 21.06112260276632],
			["Russia", 55.77572812427487, 37.640910654457386],
			["Scandinavia", 60.16677121725033, 24.951030246375005],
			["Singapore", 1.2823717835470578, 103.85086646825762],
			["South Africa", -34.078342820980666, 18.86894181107882],
			["Spain & Portugal", 40.45496256461884, -3.692569686876436],
			["Switzerland", 47.373200526667375, 8.534370857543523],
			["Turkey", 41.10960669315528, 29.021074749811596],
			["Thailand", 13.826515120258863, 100.5190562228955],
			// USA
			["Arizona", 34.008006280345185, -111.8344036910558],
			["Atlanta", 33.78706383234773, -84.38828706966623],
			["Austin", 30.264717912928834, -97.78184901600777],
			["Boston", 42.39768043288873, -71.25427221749905],
			["Charlotte", 30.504343503076104, -97.69109115832988],
			["Connecticut", 41.06148642990941, -73.54172934637954],
			["Dallas", 32.84031386494504, -96.77485654477606],
			["Florida", 28.544694425798124, -81.36946860070654],
			["Minnesota", 44.85279399727552, -93.35304265974229],
			["New Jersey", 40.87418930702783, -74.44799373104216],
			["New York City", 40.75754832443671, -73.97521131570247],
			["PHILADELPHIA", 39.95234422055128, -75.16928570223631],
			["RESEARCH TRIANGLE PARK", 35.86528021901424, -78.83577370051097],
			["SALT LAKE CITY", 40.76553699370848, -111.89160000220984],
			["SAN DIEGO", 32.936986630369454, -117.23637608895285],
			["SAN FRANCISCO", 41.88260197623251, -87.63428685984462],
			["ST. LOUIS", 41.58781984157025, -93.62897778869032],
			["WASHINGTON DC", 38.90361326260556, -77.04040430226966],
			["WESTERN NEW YORK", 42.439320506656344, -76.463181771467],
			["WISCONSIN", 43.07643386277132, -89.42608321562474],
			["UNH School of Law", 43.20735299841634, -71.54533485556341],
			// Canada
			["MONTREAL", 45.49343802067762, -73.58249557321184],
			["QUEBEC", 46.79553567939764, -71.31362731734427],
			["TORONTO", 43.64900911203777, -79.3775716462921],
			["Pittsburgh", 40.44231994639676, -79.99554963123146],
			["Seattle Chapter", 47.670242701113, -122.11951421054171],
			["Silicon Valley", 38.385340205847484, -122.6820223871229],
			["Chicago", 41.877803158462925, -87.63712120234362],
			["Houston", 29.7602625998189, -95.36550318738753],
			["Iowa", 41.75195807340436, -93.46075756187246],
			// +
            ["1624 Capital", 40.756844772548085, -73.98345288885585],
            ["Acorn Technologies", 32.84939214688512, -117.2729378602],
            ["Adapt IP Ventures", 35.492183735348505, -82.5223559006],
            ["AQUA Licensing LLC", 37.791404097717574, -122.395092033],
            ["AST", 40.32511234911727, -74.64818314654192],
            ["Beijing YOUQI Law Firm", 40.061630594099455, 116.4166476],
            ["Berggren Brokerage", 60.16964121982139, 24.929076440758],
            ["Blakes", 43.64825679183706, -79.37948744457603],
            ["Cascades Ventures", 41.92804704230924, -87.64201027347],
            ["Cerinet", 37.778426938206614, -79.45539646196848],
            ["Craske", 50.81801707278746, -4.027609615619849],
            ["Crown Point Transactions", 41.88566702649234, -87.62281688],
            ["Dennemeyer", 41.88474947958749, -87.63923754648825],
			["Ever Edge", 34.001016770837445, -118.47691404489197],
			["First Thought IP", 51.51739469446373, -0.084676822562],
            ["GTT Group", 45.51886136728152, -122.68208458868561],
			["Hilco Streambank", 40.75698762608188, -73.98570348885],
            ["Hoffman Patent Firm", 33.63288850132607, -111.915539],
            ["HTS", 37.25168749973585, -107.87758571780694],
			["IAM Market", 51.51704360041213, -0.10479572274122934],
            ["GTT Group", 45.51886136728152, -122.68208458868561],
            ["Hilco Streambank", 40.75698762608188, -73.98570348885],
            ["Hoffman Patent Firm", 33.63288850132607, -111.915539],
            ["HTS", 37.25168749973585, -107.87758571780694],
            ["IAM Market", 51.51704360041213, -0.10479572274122934],
			["IAM Market", 22.276496204196178, 114.16933571642697],
            ["ICAP Patent Brokerage", 40.91278043136156, -73.78116235],
            ["ICEBERG IP Group", 51.51911635507824, -0.181687046767],
            ["Intellectual Asset Group (IAG)", 42.63834980928711, -83240228343],
            ["Intellectual Profit", 40.31901256916031, -75.14102211],
            ["IntraCom Group", 50.71540966416118, 7.069315778981705],
            ["Investors IPO", 33.18264219955012, -96.6418020967653],
            ["IP Broker", 49.43837008801778, 11.040522824958444],
            ["IP Engineering Group Corporation", 39.09423334873533, 86620140240474],
			["IP Holdings LLC", 41.12460064347087, -74.12724646000],
            ["IP Investments Group", 33.978130600271896, -84.22266128],
            ["IP Offerings", 41.125359122988804, -74.12643048699361],
            ["IP Research Group", 45.28801753976441, -75.87330193102],
            ["IPEG Consultancy", 52.091290400713206, 4.342399655751],
            ["Iperative", 40.02508514794677, -75.29292838768941],
            ["IPTrader", 42.770209903531516, -73.75779054460747],
            ["IPValue", 37.385742075334, -121.9722908312957],
            ["Kanzatec", 33.61744620128257, -111.90514791606753],
            ["Marks & Clerk", 45.41793049717767, -75.70180003101807],
            ["Mensch Capital", 41.54620217320355, -81.45272867348609],
			["MiiCs & Partners", 22.666571766615565, 114.0257046863],
            ["Munich Innovation Group", 48.135397380583036, 11.55741413],
            ["N&G Consulting", 45.490137246630795, 9.140888357671326],
			["New England IP", 42.7961288289944, -70.99527843296318],
            ["Ocean Tomo", 41.88235772328951, -87.63413635813176],
            ["Osler", 43.64873529084742, -79.38170961758993],
            ["OTI.com", 41.88253008624653, -87.63423321580302],
            ["ParallelNorthIP", 55.52099472712222, 12.999185542402],
            ["Patent Agent IP", 3.159101385961496, 101.71861073925],
			["Patent Law Professionals PC", 37.36986727098216, -121034478917],
            ["Patent Monetization Inc.", 43.650712127681686, -79.37758987],
            ["PatentBridge LLC", 37.42314739289653, -122.2021152178],
            ["PJ Parker & Co.", 35.69375997506015, 139.58056819563],
            ["Pluritas", 37.79536709254281, -122.39633638250046],
            ["Powell Gilbert", 51.51401122321067, -0.1059181712585561],
            ["Pro IP", 3.1593097971054718, 101.75305969314692],
            ["Prognosis IP", 34.14659316159818, -118.15120463139473],
            ["Quinn Pacific", 39.52013883312892, -119.81456382937667],
			["Red Chalk Group", 41.88243431090255, -87.63611453114],
            ["Reydoog Ltd", 50.7724013883643, 0.2947698691902571],
            ["Rimon", 30.265196578989283, -97.78202996292345],
            ["Rouse", 55.769217159182, 37.59164650069093],
            ["RPX", 37.79556781696391, -122.39609597361125],
            ["RSL Holdings", 36.274021767870124, -115.2528944601662],
            ["Sherpa Technology Group", 42.35682750016099, -71.05229337],
            ["Siskin Capital Ltd", 51.52742540115965, -0.088889930778],
            ["Smart & Biggar", 45.42227104736581, -75.69598689194936],
            ["Soryn IP Group", 40.741943255028715, -74.3670356581711],
            ["Synpat", 37.7934103077515, -122.39439501349302],
			["Tangible IP, LLC", 45.503004489645186, -73.5752042156],
            ["The OShea Firm", 38.902126905389245, -77.0492166284],
            ["ThinkFire", 30.249520213930378, -81.52673880081798],
            ["Trademarks Patents Lawyer", 53.542751935918766, -113.4883667],
			["TransactionsIP", 26.407815878690034, -80.07218570461265],
            ["TrueNorth IP", 35.15199827992414, -106.59681543136477],
            ["Vibrant IP", 32.72096821127098, -117.16800412806222],
            ["Western IP Law", 40.76688813157198, -111.88998761838987],
            ["Wispro", 25.080852062964706, 121.56455644138522],
			["Yusarn Audrey", 1.2841629333204418, 103.85191632973265],
		];
		const infowindow = new google.maps.InfoWindow();
		for (let i = 0; i < markerPosition.length; i++) {
			const marker = new google.maps.Marker({
				position: new google.maps.LatLng(markerPosition[i][1], markerPosition[i][2]),
				map: map,
			});
			google.maps.event.addListener(marker, 'click', (function (marker, i) {
				return function () {
					infowindow.setContent(markerPosition[i][0]);
					infowindow.open(map, marker);
				}
			})(marker, i));
			if (marker) {
				marker.addListener('click', function () {
					map.setCenter(this.getPosition());
				});
			}
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdv52-HzpdIdt21UE6_YLzLdWPWikO4pk&language=en&callback=initMap" async defer></script>

<div class="w800" style="overflow: visible; margin-top:20px;">
    <h3 class="mt10">Licensing Executive Society (LES)</h3>
    <p>LES is an international licensing organization with members from 33 countries and has approximately 6,000 active members worldwide.</p>
	<p>Dr. JJ Kim, CEO of K2G, had served as a President of LES Korea from 2010 to 2013. Ever since then, he has engaged in a dozens of global technology transactions via the LES International network.</p>
	<h3 class="mt10">Certified Licensing Professional (CLP)</h3>
	<p>CLP, Certified Licensing Professional, is an international technology transaction organization with approximately 800 people worldwide.  Dr. JJ Kim has actively involved in tech transfer cases for 15 years as a member of the CLP association since he was certified as a first CLP in Korea back in 2007.</p>
	<h3 class="mt10">Chief IP Officer</h3>
	<p>Dr. JJ Kim, CEO of K2G, used to work  as a vice president in charge of overseas licensing department at LG Electronics.  Therefore, he maintains a good network with IP executives and employees of major domestic as well as foreign companies and is still conducting a number of technology commercialization and monetization projects with them.</p>
</div>