<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<div id="map"></div>
<script>
	function initMap() {
		const centerPosition = { lat: 30.523391, lng: 27.331973 };
		const map = new google.maps.Map(document.getElementById("map"), {
			zoom: 2,
			center: centerPosition,
		});
		const markerPosition = [
			["Andean Community", -12.094507640425967, -77.02634373169582],
			["Arab Countries", 31.969629709830397, 35.904524326364744],
			["Argentina", -34.59653176260753, -58.37225138705527],
			["Australia & New Zealand", -38.21310831102072, 144.096443589137],
			["Austria", 48.205672437680725, 16.37764341339499],
			["Benelux", 51.97906769894381, 5.3348396712119035],
			["Brazil", -22.899988587274464, -43.1789186450089],
			["Britain & Ireland", 55.755106954600926, -4.167947916994035],
			["Chile", -33.43893668748874, -70.63851310613374],
			["China", 39.90656943003838, 116.35988348323681],
			["Chinese Taipei", 25.03186835406261, 121.5482808108552],
			["Czech Republic & Slovakia", 50.07581451078436, 14.456804552367068],
			["France", 45.40865177916843, 12.370761726785078],
			["Germany", 48.139891807612, 11.575599269213072],
			["Hungary", 47.500244430925434, 19.05459732686112],
			["India", 28.417558891976995, 77.09620758209567],
			["Israel", 31.88801075219599, 34.73617696869085],
			["Italy", 45.064296361096424, 7.6841883132805195],
			["Japan", 35.6673940221259, 139.74603535530377],
			["Korea", 37.29318159740659, 127.04221738233704],
			["Malaysia", 3.1481949644358216, 101.69631425291774],
			["Mexico", 19.394852292455937, -99.17752686327518],
			["Philippines", 14.559879539823973, 121.01778954132648],
			["Poland", 52.20883032679287, 21.06112260276632],
			["Russia", 55.77572812427487, 37.640910654457386],
			["Scandinavia", 60.16677121725033, 24.951030246375005],
			["Singapore", 1.2823717835470578, 103.85086646825762],
			["South Africa", -34.078342820980666, 18.86894181107882],
			["Spain & Portugal", 40.45496256461884, -3.692569686876436],
			["Switzerland", 47.373200526667375, 8.534370857543523],
			["Turkey", 41.10960669315528, 29.021074749811596],
			["Thailand", 13.826515120258863, 100.5190562228955],
			["USA & Canada", 38.94274345059562, -77.33035178692487]
		];
		const infowindow = new google.maps.InfoWindow();
		for (let i = 0; i < markerPosition.length; i++) {
			const marker = new google.maps.Marker({
				position: new google.maps.LatLng(markerPosition[i][1], markerPosition[i][2]),
				map: map,
			});
			google.maps.event.addListener(marker, 'click', (function (marker, i) {
				return function () {
					infowindow.setContent(markerPosition[i][0]);
					infowindow.open(map, marker);
				}
			})(marker, i));
			if (marker) {
				marker.addListener('click', function () {
					map.setCenter(this.getPosition());
				});
			}
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdv52-HzpdIdt21UE6_YLzLdWPWikO4pk&language=en&callback=initMap" async defer></script>

<div class="w800" style="overflow: hidden;">
    <h3>Hello,<br>Welcome to K2G Partners.</h3>
    <p class="mt10">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim odio, congue non elementum eu, viverra ac eros. In sed aliquet mi, eu dignissim dolor. Nulla facilisi. In bibendum justo velit, vitae eleifend metus tristique at. Proin porttitor pharetra justo, id imperdiet mauris pharetra vitae. Pellentesque nisi odio, sodales at lacinia eu, convallis et orci. Donec et mattis magna, ut ultrices metus.<br><br>Sed sodales, sapien id accumsan ultrices, nunc velit venenatis purus, non rhoncus lorem lectus at purus. Donec eleifend metus eu erat gravida, eu ornare dolor consectetur. Vivamus vehicula velit lacus, vitae cursus dui condimentum sit amet. Etiam ex libero, molestie condimentum est ac, rhoncus tincidunt nibh. Nam vehicula dolor nec arcu fringilla, vitae porttitor mauris laoreet. Morbi sed purus odio. Phasellus vitae ante ut massa scelerisque fermentum a ac dolor. Maecenas rhoncus faucibus lacus, a volutpat turpis semper ultricies. Ut malesuada, odio vel porttitor laoreet, turpis sapien condimentum tortor, eget pulvinar ante nisl eget ex. Phasellus sollicitudin lacus a molestie iaculis. Aliquam erat volutpat. Fusce et libero lorem. Cras in rutrum nulla. Sed posuere lorem volutpat, sodales purus vel, pulvinar justo. Suspendisse hendrerit odio vel tristique pellentesque. Etiam sed vestibulum nisi.<br><br>Morbi eleifend venenatis tempor. Donec diam nulla, placerat ut dapibus vel, consequat non est. Duis rutrum posuere imperdiet. Ut rutrum dui eu laoreet vestibulum. Proin laoreet lorem felis, sed congue est commodo sit amet. Donec hendrerit convallis orci, a laoreet neque facilisis quis. In libero velit, ultricies bibendum magna eu, tempor condimentum orci. Duis vitae iaculis velit. Integer interdum et orci eu porttitor. Nulla facilisi. Donec elementum elit non mi mattis, non aliquam nunc mollis. Vestibulum lacinia consequat auctor. Nam et mi nec nibh lobortis auctor. Duis porta bibendum lectus, non interdum lacus porta sed. Praesent in molestie odio.
        <br><br>
        jun, 2018
    </p>
    <h3>Kim Jung Jung.</h3>
</div>