<script type="text/javascript">
	$(document).ready(function () {
		$("#Save").click(function () {
			var email = $("input[name='email']").val();
			if (!email) {
				alert("please Enter Your Email Address.");
				$("input[name='email']").focus();
				return false;
			}
			var form = document.passwordform;
			form.submit();
		});
	});
</script>
<div class="pad30 w1200">
    <h3 class="tc">Find Password</h3>
    <div class="" style="overflow: hidden;">
        <form name="passwordform" id="passwordform" method="post" action="/En/NewPasswordCreate">
            <div class="pad30">
                <input placeholder="Email" class="style w100" name="email">
                <p>Input the email address typed when signed up. New passwords will be sent.</p>
            </div>
            <div class="tc pad30">
                <button type="button" class="style" id="Save">Next</button>
            </div>
        </form>
    </div>
</div>