<div class="pad30 w1200">
    <h3 class="tc">Welcome to K2G GTT</h3>
    <div class="" style="overflow: hidden;">
        <form name="" method="post" action="./signup">
            <div class="pad30">
                <h4>Terms of Agreement</h4>
                <textarea readonly class="style">회원약관입니다.</textarea>
                <input name="agreeTerms" id="agreeTerms" required type="checkbox" onChange="checkBox()"><label for="agreeTerms">I agree to Terms of Agreement above.</label>
            </div>
            <div class="pad30">
                <h4>Privacy Policy</h4>
                <textarea readonly class="style">개인정보보호방침입니다.</textarea>
                <input id="agreePolicy" name="agreePolicy" required type="checkbox" onChange="checkBox()"><label for="agreePolicy">I agree to Privacy Policy above.</label>
            </div>
            <input id="agreeAll" type="checkbox" onChange="checkBox()"><label for="agreeAll">I agree to Both above.</label>
            <div class="tc pad30">
                <button type="submit" class="style">Next</button>
            </div>
        </form>
    </div>
</div>
<script>
    function checkBox() {
        var allCheck = $('#agreeAll').attr('checked');
        if (allCheck == 'checked') {
            $('#agreeTerms').attr('checked', 'checked');
            $('#agreePolicy').attr('checked', 'checked');
        }
    }

</script>