<div class="pad30 w1200">
    <h3 class="tc">Welcome to K2G GTT</h3>
    <div class="" style="overflow: hidden;">
        <form name="" method="post" action="./signup">
            <div class="pad30">
                <h4>Terms of Agreement</h4>
                <textarea readonly class="style">회원약관입니다.</textarea>
                <input name="agreeTerms" id="agreeTerms" required type="checkbox" onChange="checkBox()"><label for="agreeTerms">I agree to Terms of Agreement above.</label>
            </div>
            <div class="pad30">
                <h4>Privacy Policy</h4>
                <textarea readonly class="style" style="white-space: pre-wrap">
Disclaimer &amp; Privacy Policy
					
Welcome to K2G Partners Co., Ltd.. ("K2G"). K2G owns and maintains the Web Site https://gtt.k2g.co.kr ("the Web Site"). These Terms of Use set out and contain the entire terms and conditions for using the Web Site. By continuing to use the Web Site, you agree to abide by these Terms of Use.
Use
					
The Web Site provides information related to K2G. You may use the content of the Web Site for the sole purpose of acquiring information about activities of K2G.
The content of the Web Site is presented for informative purposes only. The information does not constitute a solicitation or inducement to engage in a commercial enterprise, K2G or any third party. K2G does not endorse, solicit, or promote any of the commercial entities and/or third parties' products, which the Web Site describes or presents. Nothing on the Web Site should be considered as a legally binding offer or request for proposals.
Unless stated otherwise, K2G presents the standard agreements in the Agreements and the Patents sections of the Web Site for informative purposes only. These agreements may change from time to time. You should therefore contact K2G's representative, who will provide you with the current version of the relevant agreement and with the necessary assistance.
In addition, the Web Site's projects list may change over time. Therefore, you should contact and consult K2G's representative as to the current projects that are available for licensing.
					
Proprietary Rights
					
All material contained on the Web Site is copyrighted. You may not reproduce, distribute, transmit, publish, make available or otherwise use any material on the Web Site, without prior written permission from K2G, except as expressly stated in these Terms of Use.
No trademarks, trade names or service marks appearing on the Web Site may be used without prior written permission from K2G. You may not adapt or use any trademark, trade name, service mark or domain name similar to or likely to be confused with those of K2G, or take any other action which infringes, impairs or dilutes K2G's intellectual property rights.
You may not alter or remove any trademark, copyright or other notice from copies of the content used according to the permission set forth in these Terms of Use.
					
Disclaimer of Warranty
					
YOU ACKNOWLEDGE AND AGREE THAT THE WEB SITE AND THE INFORMATION CONTAINED THEREIN ARE BEING PROVIDED FOR USE AS IS, AND THEREFORE YOU WILL NOT HAVE ANY PLEA, CLAIM OR DEMAND AGAINST K2G IN RESPECT OF THE WEB SITE'S PROPERTIES, ABILITIES, LIMITATIONS OR FITNESS FOR ANY PARTICULAR PURPOSE. THE USE OF THE WEB SITE IS ACCORDINGLY AT YOUR SOLE AND ENTIRE RISK, WITHOUT WARRANTIES OF MERCHANTABILITY, FITNESS FOR PURPOSE, NON-INFRINGEMENT, COMPATIBILITY, SECURITY OR ACCURACY.
K2G DOES NOT WARRANT, AND HEREBY DISCLAIMS ANY WARRANTIES, EITHER EXPRESSED OR IMPLIED, WITH RESPECT TO THE ACCURACY, ADEQUACY OR COMPLETENESS OF THE WEB SITE, INFORMATION OBTAINED FROM THE WEB SITE OR FROM OTHER WEB SITES TO WHICH THE WEB SITE IS LINKED. K2G DOES NOT WARRANT THAT THE WEB SITE WILL OPERATE IN AN UNINTERRUPTED OR ERROR-FREE MANNER OR THAT THE WEB SITE IS FREE FROM HARMFUL COMPONENTS. USE OF THE WEBSITE ITSELF AND OF INFORMATION OBTAINED FROM OR THROUGH THE WEB SITE IS AT YOUR OWN RISK.
					
Limitation of Liability
					
YOU WILL NOT HAVE ANY PLEA, CLAIM OR DEMAND AGAINST K2G, THEIR OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, SUB-CONTRACTORS AND AGENTS IN RESPECT OF ANY CONTENT OR ADVICE UPON WHICH YOU DECIDE TO RELY FURTHER TO THE USE OF THE WEB SITE. K2G WILL NOT BE DEEMED RESPONSIBLE FOR ANY CONTENT OR ADVICE, AND RELIANCE ON SUCH CONTENT AND ADVICE IS AT YOUR SOLE AND WHOLE RISK.
IN ANY EVENT, K2G, THEIR OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, SUB-CONTRACTORS AND AGENTS SHALL NOT BE LIABLE FOR ANY DAMAGE (DIRECT, INDIRECT, INCIDENTAL OR CONSEQUENTIAL), LOSS, EXPENSE OR PAYMENT CAUSED TO YOU BY THE USE OF THE WEB SITE OR THE INABILITY TO USE IT.
					
Indemnity
					
You will indemnify K2G, its officers, directors, shareholders, employees, sub-contractors, agents and anyone acting on its behalf in respect of any damage, loss, loss of profit, payment or expense caused to them (including attorneys' fees and legal expenses) by a breach of your obligations pursuant to these Terms of Use and/or by your use of any information obtained by you from the Web Site.
					
Privacy
					
K2G respects the privacy of all visitors to the Web Site and treats visitors' information as confidential. K2G does not collect personally identifiable information from you, unless you have provided it voluntarily and knowingly through the various forms available in the Website:
•	Contact Us. K2G will use the information you have provided in the "contact us" section of the Web Site in order to answer your inquiries.
•	Briefcases. K2G will use the information you have provided in the ordering section ('Send Briefcase') of the Web Site in order to provide you with updates regarding the respective project you added to your briefcase.
•	Commercial Updates. K2G will use the information you have provided in the 'Join Us' section, in order to send you our newsletter and other informative materials (which you may opt-out of by following the “unsubscribe” link located at the bottom of each message).
K2G will not share such information with anyone but and/or the relevant licensees (if any), without your consent, except as required by law or in the course of any legal proceedings.
K2G does not presently monitor visitors' habits, using "cookies" or other technological measures. Nevertheless, K2G, in the future, may share the accumulated, non-personally-identifiable information with third parties, inter alia, to improve and enrich the quality of the Web Site's content and services. Such information will only be shared after any personally identifiable information has been removed.
					
Cookies
					
We may use cookies on the Website. Cookies are packets of information sent by our servers to your web browser and then sent back by the browser each time it accesses our servers. The cookies may contain information, such as your interactions with the Website's features and functionality, your session durations and IP addresses. We use the cookies to collect analytical information about your use of the Website.
Cookies are saved on your computer's hard drive. If you wish to block cookies, you may do so through your browser’s settings. Please refer to the browser's help menu for further information. However, bear in mind that disabling cookies may adversely affect your user experience on the Website.
					
Changes
					
K2G may change these Terms of Use from time to time. The changes will take effect seven days after their initial publication on the Web Site. You are therefore encouraged to review these Terms of Use regularly.
					
General
					
These Terms of Use constitute the entire agreement between you and K2G with respect to the subject matter hereof and they supersede any and all other agreements.
Governing Law and Jurisdiction
These Terms of Use shall be governed by and construed in accordance with the laws of Republic of Korea.
				</textarea>
                <input id="agreePolicy" name="agreePolicy" required type="checkbox" onChange="checkBox()"><label for="agreePolicy">I agree to Privacy Policy above.</label>
            </div>
            <input id="agreeAll" type="checkbox" onChange="checkBox()"><label for="agreeAll">I agree to Both above.</label>
            <div class="tc pad30">
                <button type="submit" class="style">Next</button>
            </div>
        </form>
    </div>
</div>
<script>
    function checkBox() {
        var allCheck = $('#agreeAll').prop('checked');
        if (allCheck == true) {
            $('#agreeTerms').attr('checked', 'checked');
            $('#agreePolicy').attr('checked', 'checked');
        }
    }

</script>