<script src="/js/data.js" language="javascript"></script>
<script>

    const legends = {
        patent: ['A90', 'A80', 'A70', 'A60', 'A50', 'A40', 'A30', 'A20', 'A10', 'A00'],
        article: ['B90', 'B80', 'B70', 'B60', 'B50', 'B40', 'B30', 'B20', 'B10', 'B00'],
    };
    const shapes = {
        patent: 'circle',
        article: 'rect',
    }
    var series = [];
    var currentPage = 1;
    var pagePosts = 30;

    function searchPatent() {
        $.ajax({ // 특허 API
            url: 'https://k2gdoc2vec.azurewebsites.net/patentData?searchWord=' + '@ViewBag.PatentKeyword',
            type: "GET",
            dataType: "JSON",
            beforeSend: function () {
                $('#loading>div').append('<p>Analyzing Patent Data...</p>');
            },
            success: function (result) {
                console.log('Patent Success');
                $('#loading>div').append('<p>Patent data Analysis Completed.</p>');
                data["patent"] = result;
                pushSeries("patent");
            },
            error: function () {
                $('#loading>div').append('<p style="color:#C00;">Failed to searching Patent data.</p>');
            },
            complete: function () {
                console.log('Patent End');
                searchArticles();
            }
        });


    }

    function searchArticles() {
        $.ajax({ // 논문 API
            url: 'https://k2gdoc2vec.azurewebsites.net/thesisData?searchWord=' + '@ViewBag.ArticleKeyword',
            type: "GET",
            dataType: "JSON",
            beforeSend: function () {
                $('#loading>div').append('<p>Analyzing Article Data...</p>')
            },
            success: function (result) {
                console.log('Article Success');
                $('#loading>div').append('<p>Article data Analysis Completed.</p>')
                data["article"] = result;
                pushSeries("article");
            },
            error: function () {
                $('#loading>div').append('<p style="color:#C00;">Failed to searching Article data.</p>');
            },
            complete: function () {
                console.log('Article Ended');
                initiateChart();
            }
        });
    }

    function initiateChart() {
        showChart();
        myChart.setOption(option);
        legendAll();
    }
</script>

<div class="rela">
    <div id="loading" class="w100 h100 abs flex center" style="background-color:#FFF; z-index: 1000;">
        <div class="tc">
            <img src="/img/loading.gif" alt="loading" style="width:200px;">
            <h4 class="mb10">Searching... It takes 2-10 minutes depending on keywords.</h4>
        </div>
    </div>


    <h3 class="tc">Select a Legend</h3>
    <div>
        <div class="flex center">
            <select id="custom_legend" class="style" onChange="selectLegend('en')">
                <option value="all">All</option>
                <optgroup class="patent" label="Patent"></optgroup>
                <optgroup class="article" label="Articles"></optgroup>
            </select>
        </div>
    </div>
    <div id="graph_wrap" class="flex center pad10">
        <div id="graph">
        </div>
    </div>
</div>
<div id="table_wrap" class="pad20 w1200">
    <div class="flex between">
        <h3 id="table_title" class="pad20"></h3>
        <div id="btn_wrap"></div>
    </div>
    <table class="w100 tc">
    </table>

    <div class="flex center">
        <div id="pagination" class="pagination flex between pad20">
        </div>
    </div>
</div>

<script src="/js/functions.js" language="javascript"></script>
<script src="/js/chart.js" language="javascript"></script>
<script src="/js/resize.js" language="javascript"></script>
<script>

    function pushSeries(type) {
        for (i = 0; i < legends[type].length; i++) {
            var dataName = legends[type][i]
            const thisData = {
                [type]: {
                    name: dataName,
                    type: 'scatter',
                    coordinateSystem: 'polar',
                    symbol: shapes[type],
                    data: data[type][dataName]['coordinate'],
                    //color:legends["color"][i],
                    animationDelay: function (idx) { return idx * 5; }
                },
            };
            var dataCounts = data[type][dataName]['coordinate'].length
            if (dataCounts > 0) {
                series.push(thisData[type]);
                var legend_elements = '<option value="' + dataName + '" data-type="' + type + '">' + dataName.substr(1) + '% (' + dataCounts + ')' + '</option>';
                $('optgroup.' + type).append(legend_elements);
            }
        }
    }

</script>


<script>

    searchPatent();

</script>