<script src="/js/data.js" language="javascript"></script>
<script>
	function totalAjax(target) {
		const patentUrl = 'https://k2gdoc2vec.azurewebsites.net/patentData?searchWord='+'@ViewBag.PatentKeyword';
		const articleUrl = 'https://K2GDoc2VecThesis.azurewebsites.net/thesisData?searchWord='+'@ViewBag.ArticleKeyword';
		
		$.when(
			$.ajax({ // 특허 API
			url: patentUrl,
			type: "GET",
			dataType: "JSON",
			beforeSend: function () {
				console.log("Patent Start");
				$('div#status').append('<p>Searching for Patent data...</p>');
			},
			success: function (result) {
				console.log('Patent Success');
				$('div#status').append('<p>Searching Patent data has been completed.</p>');
				data["patent"] = result;
				pushScatterSeries("patent");
			},
			error: function () {
				$('div#status').append('<p style="color:#C00;">Failed on Searching Patent data.</p>');
				$('div#btn').html('<a onClick="refresh()" class="btn blue" style="padding:10px 20px;">Search Again</a>');
			},
			complete: function () {
				console.log('Patent End');
			}
		}),
			$.ajax({ // 논문 API
			url: articleUrl,
			type: "GET",
			dataType: "JSON",
			beforeSend: function () {
				console.log("Article Start");
				$('div#status').append('<p>Searching for Article data...</p>')
			},
			success: function (result) {
				console.log('Article Success');
				$('div#status').append('<p>Searching Article data has been completed.</p>')
				data["article"] = result;
				pushScatterSeries("article");
			},
			error: function () {
				$('div#status').append('<p style="color:#C00;">Failed on Searching Article data.</p>');
				$('div#btn').html('<a onClick="refresh()" class="btn blue" style="padding:10px 20px;">Search Again</a>');
			},
			complete: function () {
				console.log('Article Ended');
			}
		}),			

		).done(function () {
			initiateChart("scatter");
		});
	}	
</script>
<style>
	body {overflow: hidden;}
</style>
<div id="loading" class="w100 h100 abs flex center" style="background-color:#FFF; z-index: 1000; top:0;">
    <div class="tc">
        <canvas id="mycanvas"></canvas>
        <div id="status" class="tc">
            <h4 class="mb10">Searching... It takes 2-3 minutes depending on keywords.</h4>
        </div>
		<div id="btn"></div>
    </div>
</div>
<div id="pdfloading" class="w100 h100 abs flex center" style="background-color:#FFF; z-index: 1000; display: none;">
	<div class="tc">
		<img src="/img/loading.gif" alt="loading" style="width:200px;">
		<h4 class="mb10 wh">A PDF file is being created... <wbr>It takes 2-3 minutes depending on keywords.</h4>
	</div>
</div>
<div class="rela">
	<div class="w100">
		<h3 class="tc">Select a Legend</h3>
		<div class="pad20">
			<div class="flex center">
				<div>
					<label for="legend_all">All</label><br>
					<select id="legend_all" class="style legendSelect" style="margin:5px;" onChange="selectLegend('all')">
						<option id="E00" value="E00">All</option>
						<option id="E90" value="E90" class="none">90%</option>
						<option id="E80" value="E80" class="none">80%</option>
						<option id="E70" value="E70" class="none">70%</option>
						<option id="E60" value="E60" class="none">60%</option>
						<option id="E50" value="E50" class="none">50%</option>
						<option id="E40" value="E40" class="none">40%</option>
						<option id="E30" value="E30" class="none">30%</option>
						<option id="E20" value="E20" class="none">20%</option>
						<option id="E10" value="E10" class="none">10%</option>
					</select>
				</div>
				<div>
					<label for="legend_patent">Patents</label><br>
					<select id="legend_patent" class="style legendSelect" style="margin:5px;" onChange="selectLegend('patent')">
					</select>
				</div>
				<div>
					<label for="legend_article">Articles</label><br>
					<select id="legend_article" class="style legendSelect" style="margin:5px;" onChange="selectLegend('article')">
					</select>
				</div>
			</div>
		</div>
		<div id="graph_wrap" class="flex center pad10">	
			<div id="graph">		
			</div>
		</div>	
	</div>
	<div id="tableWrap" class="pad20 w1400">
		<div id="patent_wrap" class="post_wrap">
			<div id="patentTitle" class="flex between">
				<h3 class="pad20">Patent</h3>
				<div class="btn_wrap"><button class="pad10" onClick="ExcelDownload('patent', 'en')">Download the List (Excel)</button><button class="pad10" onClick="downAll('patent', 'en')">Download Reports (PDF)</button></div>
			</div>
			<table id="table_patent" class="w100 tc toc">
				<thead><tr><th class="no"><input type="checkbox" name="checkboxAll" value="selectall" onclick="selectAll(this)" /></th><th class="no">No.</th><th class="title">Title</th><th>Similarity</th><th class="year">Date</th><th class="report"></th></tr></thead>
				<tbody></tbody>
			</table>
			<div class="flex center">
				<div id="page_patent" class="pagination flex between pad20">
				</div>
			</div>
		</div>
		<div id="article_wrap" class="post_wrap">
			<div id="articleTitle" class="flex between">
				<h3 class="pad20">Article</h3>
				<div class="btn_wrap"><button class="pad10" onClick="ExcelDownload('article', 'en')">Download the List (Excel)</button><button class="pad10" onClick="downAll('article', 'en')">Download Reports (PDF)</button></div>
			</div>
			<table id="table_article" class="w100 tc toc">	
				<thead><tr><th class="no"><input type="checkbox" name="checkboxAll" value="selectall" onclick="selectAll(this)" /></th><th class="no">No.</th><th class="title">Title</th><th>Similarity</th><th class="year">Year</th><th class="report"></th></tr></thead>
				<tbody></tbody>
			</table>
			<div class="flex center">
				<div id="page_article" class="pagination flex between pad20">
				</div>
			</div>
		</div>
	</div>
<script src="/js/functions.js" language="javascript"></script>
<script src="/js/functions_scatter.js" language="javascript"></script>
<script src="/js/functions_contents.js" language="javascript"></script>
<script src="/js/chart.js" language="javascript"></script>
<script src="/js/animation.js" language="javascript"></script>

<script>
	totalAjax('');
</script>