<div class="w800">
	<img src="/img/about.png" style="border-radius: 20px; margin-bottom:20px;" alt="about">
	<h3>반갑습니다.<br>K2G Partners 김정중입니다.</h3>
	<p class="mt10">
		저희 K2G는 이름 그대로 Korea to Global을 지향하는 기업으로서 Global IP 수익화·사업화를 위한 한국발 IP Licensing 전문기업입니다.<br><br>
		지금까지 우리나라 IP 경영의 Paradigm은 양적 성장에 중점을 두어왔습니다. 하지만 특허건수가 누적되면서 특허 유지부담이 증가되고 IP에 소요되는 비용 부담이 급격히 커지고 있습니다. 이에 반해 IP의 수익화 및 사업화는 주로 국내에서만 이루어지고 있어 아직까지 그 성과가 미미한 수준에 머물고 있습니다. 이처럼 IP는 경영에 부담만 줄 뿐 경영이익에 기여하지 못하게 되면서 IP경영 전반에 걸쳐 혁신이 필요한 시점입니다.<br><br>
		저희 K2G Partners는 종래 국내에 국한된 기술이전에서 탈피하여 Global 시장에 IP기술을 수출하는 IP 수익화 Model을 새롭게 제시하여 고객들의 IP가치를 극대화하고자 합니다. 이를 위해 우수한 발명을 Power Patent로 육성하고 강력한 해외 특허망이 구축되도록 물심양면으로 지원함과 아울러 현지업체와 직접협상을 통해 대형기술이전과 특허료 수익의 극대화를 실현하고자 합니다.<br><br>
		또한 고객사가 보유하고 있는 IP 자산의 재평가와 IP 경쟁력을 진단하여 가장 효과적인 IP Portfolio 구축방안을 제공해드리는 IP경영 컨설팅 서비스 역시 저희 K2G의 독보적인 R&amp;D역량을 바탕으로 차별화된 서비스를 제공해 드리고자 합니다.<br><br>
		저희 K2G Partners 구성원들은 기업과 공공부문의 특허팀에서 다양한 경험을 축적한 베테랑들입니다. 여느 IP서비스기업과 같이 과제 수행에 급급하여 단기적이고 단발성의 지원에 그치지 아니하고 고객사의 실질적인 특허팀으로서 고객들의 어려움을 지속적으로 해결해나가고자 합니다.<br><br>
		모쪼록 고객님들의 동반자로서 저희 K2G Partners의 Global Network, 차별화된 역량과 경험이 고객님들의 발전에 힘이 될 수 있도록 혼신을 다해 노력하고자 합니다. 앞으로 IP 혁신의 현장에서 자주 뵙겠습니다.
		감사합니다.<br><br>
		2018년 6월
	</p>
	<h3>대표 김정중 올림</h3>
</div>