@model K2GGTT.ViewModels.HotTechViewModel
<div class="w1400">
	<h2 class="pad10">@(Model.Title)</h2>
	<article class="flex">
		<section id="left" style="width: 80%">
			<div id="article" class="pad30" style="white-space: pre-line; border:#CCC 1px solid;">
				@(Html.Raw(Model.Content))
				<div class="pad20" style="background-color:#EEE;">
					<img src="~/ufile/@(Model.ApplicantImgSrc)" alt="Image">
					<h5>@(Model.ApplicantName)</h5>
					<p style="white-space: pre-line;">
						@(Model.ApplicantMajor)
					</p>
				</div>
			</div>
		</section>
	</article>
</div>