@using X.PagedList;
@using X.PagedList.Mvc.Core
@model HotTech
@using K2GGTT.Controllers
<div class="pad30 w1400" style="max-width: 1500px;">
	<div style="border-bottom:#CCC 1px solid; margin:30px auto;">
		<button class="tabBtn active">All</button>
		<button class="tabBtn">Healthcare</button>
		<button class="tabBtn">BIO</button>
		<button class="tabBtn">IT</button>
		<button class="tabBtn">ET</button>
	</div>
	<div>
		@foreach (var m in ViewBag.List)
		{
			<div class="mb30">
				<li style="border: #CCC 1px solid;" class="pad30">
					<h3><a href="/Kr/hottechdetail?id=@(m.Id)">@(m.Title)</a></h3>
					<hr>
					<div class="flex w100" style="box-sizing: border-box;">
						<p>@(Extension.HtmlIncode(m.Content))</p>
						<div style="width:400px;">
							<img style="width: 100px;" src="~/ufile/@(m.ApplicantImgSrc)" alt="Image">
							<div class="pad10">
								<h5>@(m.ApplicantName)</h5>
								<p>
									@(m.ApplicantMajor)
								</p>
							</div>
						</div>
					</div>
				</li>
			</div>
		}
	</div>
</div>