<style>
	header {
		position: absolute;
		top: 0;
		width: 100%;
		background: linear-gradient(#FFF, transparent);
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: linear-gradient(transparent, #FFF);
	}
</style>
<div id="slider" class="bgcover" style="width: 100%; height: 100vh; background-color: #EEE; background-image: url('/img/image2.jpg');">
	<form name="search" method="get" class="flex center w100 h100" action="Kr/Result" onsubmit="return checkKeyword()">
		<div>
			<div style="max-width: 1000px; padding:10px 40px; box-sizing: border-box">
				해외 수요기업들의 니즈에 부합되는 필요기술을 Feature DB로부터 신속하게 검색할 수 있도록 영문 Quick Search Module 개발
			</div>
			<div class="pad20">
				<div style="box-sizing: border-box; position:relative;">
					<input name="keywords" id="main_search" placeholder="검색어를 입력하세요."><a href="#none" class="btn h100 pad20 blue" id="translate" style="position:absolute; right:0; margin-left:10px;">To English</a>
					<button type="submit" class="none"></button>
				</div>
			</div>

			<div class="w100 flex center">
				<div style="padding:30px; background-color:rgba(0,0,0,0.7); color:#FFF;">
					<h4 class="mb30 tc">※ AND / OR 검색방법</h4>
					<p>
						AND : * OR : + (예시 : (car*black*box)+navigator)
					</p>
				</div>
			</div>
		</div>
	</form>
</div>

<script>
	function checkKeyword() {
		var pattern_kor = /[ㄱ-ㅎㅏ-ㅣ가-힣]/;
		var keywords = $("input[name='keywords']").val();
		if (pattern_kor.test(keywords)) {
			alert("영문으로 입력해 주세요.");
			return false;
		}
	}
	$(document).ready(function () {
		$("#translate").click(function () {
			var pattern_kor = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
			var keywords = $("input[name='keywords']").val();
			if (!keywords) {
				alert("번역하실 키워드를 입력해주세요.");
				$("input[name='keywords']").focus();
				return false;
			}
			if (pattern_kor.test(keywords) == false) {
				alert("이미 영문입니다.");
				return false;
			}
			$.ajax({
				url: "/Kr/GoogleTranslate",
				type: "POST",
				async: false,
				data: { keywords: keywords },
				success: function (data) {
					var res = JSON.parse(data);
					if (res == "N") {
						alert("알 수 없는 이유로 번역되지 않았습니다. 키워드를 다시 입력 바랍니다.");
						return false;
					}
					$("input[name='keywords']").val(res);
				}
			});
		});
	});
</script>