<div class="pad30">
    <h3 class="tc">로그인</h3>
    <div class="flex center w100 h100 rela" style="overflow: hidden;">
        <form name="search" method="get" class="" action="/db/member_check.html">
            <div>
                <input type="text" placeholder="ID" class="style vertical">
                <input type="password" placeholder="PW" class="style vertical">
                <input type="submit" value="로그인" class="vertical style w100">
                <div class="flex between mt10">
                    <a href="/kr/password" class="link">비밀번호 찾기</a>
                    <a href="/kr/register" class="link">회원가입</a>
                </div>
            </div>
        </form>
    </div>
</div>