<style>#map {height: 400px;width: 100%;}</style>
<div id="map"></div>
<script>
	function initMap() {
		const centerPosition = { lat: 30.523391, lng: 27.331973 };
		const map = new google.maps.Map(document.getElementById("map"), {
			zoom: 2,
			center: centerPosition,
		});
		const markerPosition = [
			["Andean Community", -12.094507640425967, -77.02634373169582],
			["Arab Countries", 31.969629709830397, 35.904524326364744],
			["Argentina", -34.59653176260753, -58.37225138705527],
			["Australia & New Zealand", -38.21310831102072, 144.096443589137],
			["Austria", 48.205672437680725, 16.37764341339499],
			["Benelux", 51.97906769894381, 5.3348396712119035],
			["Brazil", -22.899988587274464, -43.1789186450089],
			["Britain & Ireland", 55.755106954600926, -4.167947916994035],
			["Chile", -33.43893668748874, -70.63851310613374],
			["China", 39.90656943003838, 116.35988348323681],
			["Chinese Taipei", 25.03186835406261, 121.5482808108552],
			["Czech Republic & Slovakia", 50.07581451078436, 14.456804552367068],
			["France", 45.40865177916843, 12.370761726785078],
			["Germany", 48.139891807612, 11.575599269213072],
			["Hungary", 47.500244430925434, 19.05459732686112],
			["India", 28.417558891976995, 77.09620758209567],
			["Israel", 31.88801075219599, 34.73617696869085],
			["Italy", 45.064296361096424, 7.6841883132805195],
			["Japan", 35.6673940221259, 139.74603535530377],
			["Korea", 37.29318159740659, 127.04221738233704],
			["Malaysia", 3.1481949644358216, 101.69631425291774],
			["Mexico", 19.394852292455937, -99.17752686327518],
			["Philippines", 14.559879539823973, 121.01778954132648],
			["Poland", 52.20883032679287, 21.06112260276632],
			["Russia", 55.77572812427487, 37.640910654457386],
			["Scandinavia", 60.16677121725033, 24.951030246375005],
			["Singapore", 1.2823717835470578, 103.85086646825762],
			["South Africa", -34.078342820980666, 18.86894181107882],
			["Spain & Portugal", 40.45496256461884, -3.692569686876436],
			["Switzerland", 47.373200526667375, 8.534370857543523],
			["Turkey", 41.10960669315528, 29.021074749811596],
			["Thailand", 13.826515120258863, 100.5190562228955],
			// USA
			["Arizona", 34.008006280345185, -111.8344036910558],
			["Atlanta", 33.78706383234773, -84.38828706966623],
			["Austin", 30.264717912928834, -97.78184901600777],
			["Boston", 42.39768043288873, -71.25427221749905],
			["Charlotte", 30.504343503076104, -97.69109115832988],
			["Connecticut", 41.06148642990941, -73.54172934637954],
			["Dallas", 32.84031386494504, -96.77485654477606],
			["Florida", 28.544694425798124, -81.36946860070654],
			["Minnesota", 44.85279399727552, -93.35304265974229],
			["New Jersey", 40.87418930702783, -74.44799373104216],
			["New York City", 40.75754832443671, -73.97521131570247],
			["PHILADELPHIA", 39.95234422055128, -75.16928570223631],
			["RESEARCH TRIANGLE PARK", 35.86528021901424, -78.83577370051097],
			["SALT LAKE CITY", 40.76553699370848, -111.89160000220984],
			["SAN DIEGO", 32.936986630369454, -117.23637608895285],
			["SAN FRANCISCO", 41.88260197623251, -87.63428685984462],
			["ST. LOUIS", 41.58781984157025, -93.62897778869032],
			["WASHINGTON DC", 38.90361326260556, -77.04040430226966],
			["WESTERN NEW YORK", 42.439320506656344, -76.463181771467],
			["WISCONSIN", 43.07643386277132, -89.42608321562474],
			["UNH School of Law", 43.20735299841634, -71.54533485556341],
			// Canada
			["MONTREAL", 45.49343802067762, -73.58249557321184],
			["QUEBEC", 46.79553567939764, -71.31362731734427],
			["TORONTO", 43.64900911203777, -79.3775716462921],
			["Pittsburgh", 40.44231994639676, -79.99554963123146],
			["Seattle Chapter", 47.670242701113, -122.11951421054171],
			["Silicon Valley", 38.385340205847484, -122.6820223871229],
			["Chicago", 41.877803158462925, -87.63712120234362],
			["Houston", 29.7602625998189, -95.36550318738753],
			["Iowa", 41.75195807340436, -93.46075756187246]
		];
		const infowindow = new google.maps.InfoWindow();
		for (let i = 0; i < markerPosition.length; i++) {
			const marker = new google.maps.Marker({
				position: new google.maps.LatLng(markerPosition[i][1], markerPosition[i][2]),
				map: map,
			});
			google.maps.event.addListener(marker, 'click', (function (marker, i) {
				return function () {
					infowindow.setContent(markerPosition[i][0]);
					infowindow.open(map, marker);
				}
			})(marker, i));
			if (marker) {
				marker.addListener('click', function () {
					map.setCenter(this.getPosition());
				});
			}
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdv52-HzpdIdt21UE6_YLzLdWPWikO4pk&callback=initMap" async defer></script>
<div class="w800" style="overflow: visible; margin-top:20px">
	<h3 class="mt10">Licensing Executive Society (LES)</h3>
    <p>국제적인 라이센싱 조직으로 International 조직과 33개국의 National 조직으로 구성되어 전세계적으로 약 6,000여명의 회원이 활동중임.</p>
	<p>K2G 대표, LES Korea회장 역임. LES International (국제라이센싱협회) 네트워크를 활용하여 글로벌 기술거래 추진한 바 있음.</p>
	<h3 class="mt10">Certified Licensing Professional (CLP)</h3>
	<p>국제기술거래사 조직으로 전세계 약 800명 활동 중임. K2G 대표는 국내최초(2007년) 국제기술거래사 (CLP)자격 취득후  15년째 CLP협회에서 활동 중임.</p>
	<h3 class="mt10">Chief IP Officer</h3>
	<p>국내외 주요기업의 IP 부서 임직원 Network. K2G 대표, LG전자 해외 Licensing 담당임원 경력. 해외 주요기업의 IP 임직원과 현지 기술사업화∙수익화 프로젝트 다수 진행중</p>
</div>