<script type="text/javascript">
	$(document).ready(function () {
		$("#Save").click(function () {
			var email = $("input[name='email']").val();
			if (!email) {
				alert("이메일주소를 입력해주세요.");
				$("input[name='email']").focus();
				return false;
			}
			var form = document.passwordform;
			form.submit();
		});
	});
</script>
<div class="pad30 w1200">
	<h3 class="tc">비밀번호 찾기</h3>
	<div class="" style="overflow: hidden;">
		<form name="passwordform" id="passwordform" method="post" action="/Kr/NewPasswordCreate">
			<div class="pad30">
				<input placeholder="이메일 주소" class="style w100" name="email">
				<p>가입 할 때 입력한 이메일 주소를 입력해주세요. 해당 메일 주소로 새로운 비밀번호를 보내드립니다.</p>
			</div>
			<div class="tc pad30">
				<button type="button" class="style" id="Save">다음</button>
			</div>
		</form>
	</div>
</div>