<div class="pad30 w1200">
    <h3 class="tc">회원가입</h3>
    <div class="" style="overflow: hidden;">
        <form name="" method="post" action="./signup">
            <div class="pad30">
                <h4>회원약관</h4>
				<textarea readonly class="style" style="white-space: pre-wrap">			
제 1조 (목적)
본 약관은 케이투지파트너스 주식회사 (이하 "K2G"라 합니다)가 제공하는 “K2G GTT” 및 K2G 관련 제반 서비스의 이용과 관련한 조건과 절차 및 기타 필요한 사항을 규정함을 목적으로 한다.

제 2조 (용어의 정의)
본 약관에서 사용하는 용어의 정의는 다음 각 호와 같다.
1.	'K2G 서비스'라 함은 'K2G'가 온라인으로 '회원'에게 제공하는 글로벌 기술거래 서비스를 말한다.
2.	'이용자'라 함은 'K2G’에서 제공하는 서비스를 이용하는 자(또는 이용하고자 하는 자)를 말한다.
3.	'ID'와 '비밀번호'라 함은 '이용자'가 'K2G 서비스'를 이용함에 있어 이용자 식별과 확인을 위해 'K2G'가 부여하거나 '회원'이 선택한 문자와 숫자의 조합을 말한다.
4.	'회원’이라 함은 ‘K2G’에 개인 정보를 제공하여 회원등록을 한 자로서, ‘K2G 서비스’의 정보를 지속적으로 제공받으며, 서비스를 계속적으로 이용할 수 있는 자를 말한다.
5.	'유료회원'이라 함은 ‘K2G’에 이용요금을 지불하고 'K2G 서비스'를 이용하는 회원을 말한다.
6.	'공지사항'이라 함은 'K2G'가 '이용자'에게 단말기를 통하여 공지하는 내용을 말한다.

제 3조 (약관의 범위 및 변경)
1.	본 약관에 첨부되었거나 첨부될 내용 및 'K2G 서비스'의 '공지사항'을 통해 공지된 내용은 본 계약의 일부로서 효력을 갖는다.
2.	'K2G'는 약관의 내용에 변경이 있을 경우에는 그 내용을 '회원'에게 서면 통보하거나 'K2G 서비스'의 '공지사항'에 게시하며, 통보 또는 공지 후 2주간 '회원'의 이의가 없으면 그 변경에 동의한 것으로 본다. ‘회원’이 약관의 변경사항을 확인하지 아니하여 발생하는 ‘회원’의 피해는 ‘K2G’에서 책임지지 않는다.
3.	본 약관과 관련하여 '회원'의 임직원의 행위는 '회원'의 행위로 본다.
4.	'K2G’는 필요한 경우 ‘K2G 서비스’ 내의 개별 항목에 대하여 개별약관 또는 서비스별 운영정책을 정할 수 있으며, 이 약관과 서비스별 운영정책의 내용이 상충되는 경우에는 서비스별 운영정책의 내용을 우선하여 적용한다.

제 4조 (이용신청 및 승인)
1.	'K2G 서비스'의 이용은 '회원'이 서면이나 전산망을 통해 이용신청을 한 후 'K2G'의 승인으로 이루어진다.
2.	회원 가입은 반드시 실명으로만 할 수 있으며, 회사는 본인인증조치를 할 수 있다. 회원은 회사의 확인 조치에 대하여 협력하여야 하며, 이를 준수하지 아니할 경우 회사는 회원의 등록정보가 진정하지 않은 것으로 간주하고 승인을 거부할 수 있다.
3.	진정한 정보를 제공하지 않은 회원은 K2G 서비스 이용과 관련하여 아무런 권리를 주장할 수 없으며, 타인의 명의를 도용하여 이용신청을 한 경우 회원의 모든 정보는 삭제되며, 관계법령에 따라 처벌을 받을 수 있다.
4.	'K2G'는 이용에 대한 승인과 동시에 '회원'에게 고유의 'ID'와 '비밀번호'를 부여하여야 한다.
5.	'이용자'는 'ID'와 '비밀번호'를 입력한 후 'K2G 서비스'를 이용할 수 있다.
6.	'회원'은 이용신청과 관련된 기재사항 변경이 있는 경우, 이를 즉시 'K2G'에 통지한다.
7.	회원의 개인정보의 보호 및 사용에 대해서는 ‘K2G 서비스’의 개인정보취급방침이 적용된다.

제 5조 ('K2G 서비스' 제공시간) 
'K2G 서비스' 제공시간은 평일 09:00부터 18:00까지로 하고 토, 일요일과 공휴일 등 'K2G'의 비영업일에는 제공할 의무를 지지 아니한다.

제 6조 (장비구입 및 설치)
'회원'은 'K2G 서비스' 이용에 필요한 단말기, 통신회선 등의 모든 장비를 '회원'의 비용으로 구입, 설치하고 이에 대한 관리책임을 갖는다.

제 7조 ('ID' 등의 관리)
'회원'은 본인 이외의 자가 서비스를 이용하지 못하도록 'ID' 및 '비밀번호'를 관리하여야 하며, 그 관리소홀로 인한 '정보서비스'의 부당이용 등의 손해가 발생한 경우 그 결과에 대한 모든 책임을 진다.

제 8조 (이용의 제한)
1.	'회원'은 검색한 자료를 복사, 복제, 개조하여 제3자에게 제공, 판매 또는 누설하여서는 아니된다.
2.	'회원'은 'K2G'로부터 서면에 의한 사전 승인을 받은 경우를 제외하고는 검색한 자료를 전산장비에 저장, 보존하여서는 아니한다.

제 9조 ('회원'의 지위승계)
이용계약의 양도 등 '유료회원'의 지위 승계는 'K2G'의 사전승인을 받아야 한다.
다만, 각 호의 경우에는 그 승계사실을 증명하는 서류를 첨부하여 “K2G”에 통보한 후 계속 이용할 수 있다.
1.	개인기업의 대표자가 사망하여 그 지위를 상속받은 경우
2.	둘 이상의 법인이 하나의 법인으로 합병되어 신설법인이 그 사용권을 인수한 경우
3.	법인 상호간 흡수, 합병하여 존속법인이 그 사용권을 인수한 경우
4.	하나의 법인이 둘 이상의 법인으로 분할하여 분할된 법인 중 하나가 사용권을 인수한 경우

제 10조 (정보제공의 중지)
'K2G'는 다음 각 호의 사유가 발생한 경우에 제5조에도 불구하고 정보제공 중지사유 및 일자를 서면통지한 후 정보제공을 중지할 수 있다.
1.	이용료를 2회 이상 납입하지 아니한 경우
2.	'회원'이 본 계약을 위반한 경우
3.	'K2G'의 사정으로 정보를 제공할 수 없는 경우
4.	'K2G' 내규에 의거 '회원'에 대한 정보제공 제한사유가 발생한 경우
5.	'회원'의 '정보서비스' 이용이 'K2G'의 영업상 또는 다른 업무에 문제가 있다고 판단된 경우

제 11조 (정보제공의 재개)
1.	‘유료회원’의 경우, 미납 이용료와 제13조 제4항에 의한 가산금이 완납되어 중지사유가 해소된 때에는 'K2G'는 즉시 정보제공을 재개한다.
2.	제10조에 의하여 정보제공이 중지된 '회원'으로부터 정보제공 재개 요청이 있는 경우에는 'K2G'는 그 타당성을 검토한 후 정보제공을 재개한다.

제 12조 (이용료의 계산)
1.	'유료회원'은 'K2G 서비스'의 연간이용요금을 연, 반기, 분기 혹은 월 단위로 납부하여야 한다.
2.	이용기간이 월 미만인 경우에는 그 이용료를 일할 계산(천원 미만 절사)한다. 
- 일할 계산방식 : 이용료 x (사용일수 ÷ 30)

제 13조 (이용료의 청구 및 납부)
1.	이용료 청구기준일자는 연납기준으로 'K2G 서비스' 이용계약월 말일로 하며, 납입 기일은 청구월 익월말일로 한다. (단, 반/분기/월납의 경우 해당월 15일 기준으로 청구하고 청구월말까지 납부한다)
2.	'K2G'는 이용료 청구서를 납입기일 10일전까지 '회원'에게 우편이나 이메일로 발송한다.
3.	'유료회원'은 청구서에 지정된 납입기일까지 'K2G'가 지정한 은행 계좌에 입금한다. 다만, 지정된 기일이 공휴일인 경우에는 익영업일을 납입 기일로 한다.
4.	'유료회원'이 청구서의 지정기일까지 이용료를 납입하지 아니한 때에는 그 이용료의 100분의 3이 가산금으로 부과될 수 있다.

제 14조 (옵션정보 서비스의 이용)
1.	'회원'이 옵션서비스를 이용하고자하는 경우에는 별도의 신청 후 계약을 맺어야 한다.
2.	옵션서비스를 이용하기 위해서는 'K2G 서비스' 이용요금 외에 옵션 서비스 이용료를 별도로 납부하여야 한다.

제 15조 (면책사항)
1.	천재지변, 국가비상사태, 화재 등 부득이한 사유로 인하여 'K2G 서비스' 제공이 중지된 경우에는 'K2G'는 어떠한 책임도 지지 아니한다.
2.	제4조 6항의 통지를 해태함으로써 입게 되는 '회원'의 불이익에 대하여는 'K2G’는 어떠한 책임도 지지 아니한다.
3.	'K2G'는 'K2G 서비스'의 정확성을 기하기 위하여 최선의 노력을 다하지만, 제공되는 정보의 정확성 및 진실성에 대하여 어떠한 내용의 진술 및 보장도 하지 않으며, 어떠한 책임도 지지 아니한다.
4.	시스템상의 장애로 인하여 정보제공이 지체 또는 중지되는 경우에는 'K2G'는 어떠한 책임도 지지 아니한다. 단, 그러한 시스템상의 장애가 'K2G'의 고의 또는 중과실로 인한 경우에는 그러하지 아니하다.
5.	제3자의 고의 또는 중과실에 의하여 정보제공이 사실과 다르게 제공된 경우에는 'K2G'는 어떠한 책임도 지지 아니한다.
6.	'회원'이 본 계약에 의하여 제공받은 정보를 이용하여 행한 판단이나 행위결과에 대하여 'K2G'는 어떠한 책임도 지지 아니한다.

제 16조 (법령 준용)
'K2G 서비스' 이용에 관하여 본 계약에 정하지 않은 사항에 대하여는 동 관계법령을 준용한다.

제 17조 (합의관할)
본 계약과 관련된 소송의 관할법원은 서울중앙지방법원으로 한다.
					</textarea>
                <input name="agreeTerms" id="agreeTerms" required type="checkbox" onChange="checkBox()"><label for="agreeTerms">회원약관에 동의합니다.</label>
            </div>
            <div class="pad30">
                <h4>개인정보보호방침</h4>
                <textarea readonly class="style" style="white-space: pre-wrap">
K2G GTT(이하 '회사')는 개인정보보호법 제30조, 정보통신망이용촉진 및 정보보호에 관한 법률 제27조의 2에 따라 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 고객의 고충을 원활하게 처리할 수 있도록 다음과 같은 개인정보 처리 방침을 두고 있습니다.
		
제1조 (개인정보의 처리 목적)
회사는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.
① 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산
특허정보 등의 컨텐츠 제공, 특정 맞춤 서비스 제공, 청구서 등 발송, 구매 및 요금 결제, 요금 추심
② 사용자 관리
서비스 이용에 따른 사용자 확인, 사용자 식별, 회사 이용약관 위반 사용자에 대한 이용제한 조치, 서비스의 원활한 운영에 지장을 미치는 행위 및 서비스 부정이용 행위 제재, 가입의사 확인, 가입 및 가입횟수 제한, 추후 법정 대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달, 탈퇴 의사의 확인
③ 신규 서비스 개발 및 마케팅ㆍ광고에의 활용
신규 서비스 개발 및 맞춤 서비스 제공, 회사의 연계 서비스들의 마케팅 활용 이용, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 이벤트 등 광고성 정보 전달, 마일리지 제도 이용, 회원 등급 산정, 접속빈도 파악, 사용자의 서비스 이용에 대한 통계
		
제2조 (개인정보의 처리 및 보유기간)
① 회사는 법령에 따른 개인정보 보유ㆍ이용기간 또는 정보주체로부터 개인정보를 수집시에 동의받은 개인정보 보유ㆍ이용기간 내에서 개인정보를 처리ㆍ보유합니다.
② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
가. 회사 내부 방침에 의한 정보보유 사유
[부정이용기록(부정가입, 징계기록 등의 비정상적 서비스 이용기록)]
- 보존 이유: 부정 이용 방지
- 보존 기간: 1년
나. 관련법령에 의한 정보보유 사유
상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계법령에서 정한 일정한 기간 동안 사용자 정보를 보관합니다.
이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 아래와 같습니다.
[계약 또는 청약철회 등에 관한 기록]
- 보존 이유: 전자상거래 등에서의 소비자보호에 관한 법률
- 보존 기간: 5년
[웹사이트 방문기록]
- 보존 이유: 통신비밀보호법
- 보존 기간: 3개월
		
제3조 (개인정보의 제3자 제공)
회사는 원칙적으로 정보주체의 개인정보를 제1조(개인정보의 처리 목적)에서 명시한 범위 내에서 처리하며, 정보주체의 사전 동의 없이 본래의 범위를 초과하여 처리하거나 제3자에게 제공하지 않습니다.
다만, 다른 법률에 특별한 규정이 있는 경우 또는 범죄의 수사와 같이 개인정보보호법 제18조제2항에 해당되는 경우는 예외로 처리됩니다.
회사가 개인정보를 최초 수집 당시 고지한 목적 외 제3자 제공 시 제공 전에 정보주체의 별도의 동의를 얻으며, 법령상 규정된 일정사항(제공받는 자, 이용 목적, 제공되는 개인정보 항목, 이용기간 등)을 개별적으로 고지하겠습니다.
		
제4조 (개인정보처리의 위탁)
회사는 서비스 이용에 대한 결제처리 및 사용자 본인인증을 제외한 기타의 목적으로 사용자의 동의 없이 개인정보를 외부 업체에 위탁하지 않습니다. 향후 그러한 필요가 생길 경우, 위탁 대상자와 위탁 업무 내용에 대해 사용자에게 통지하고 필요한 경우 사전 동의를 받도록 하겠습니다.
		
제5조 (정보주체의 권리ㆍ의무 및 행사방법)
① 정보주체는 회사에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
1. 개인정보 열람요구
2. 오류 등이 있을 경우 정정 요구
3. 삭제요구
4. 처리정지 요구
② 제1항에 따른 권리 행사는 회사에 대해 서면, 전화, 전자우편, FAX 등을 통하여 하실 수 있으며 회사는 이에 대해 지체없이 조치하겠습니다.
③ 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 회사는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.
④ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.
⑤ 정보주체는 개인정보 보호법 등 관계법령을 위반하여 회사가 처리하고 있는 정보주체 본인이나 타인의 개인정보 및 사생활을 침해하여서는 아니됩니다.
		
제6조 (처리하는 개인정보 항목)
회사는 입사지원서 또는 신상신고서 등을 통해 다음의 개인정보를 수집ㆍ처리하고 있습니다.
가. 수집하는 개인정보의 항목
회사는 사용자 가입, 원활한 고객상담, 각종 서비스의 제공을 위해 최초 가입 당시 혹은 담당자 변경의 경우 아래와 같은 최소한의 개인정보를 필수항목으로 수집하고 있습니다.
[가입]
- 개인회원 : 아이디, 비밀번호, 고객명(기업명), 연락처(일반전화, 휴대전화 중 택일), 주소, 이메일
- 기업회원 : 아이디, 비밀번호, 고객명(기업명), 사업자등록번호, 대표자명, 계산서 담당자명, 연락처(일반전화, 휴대전화 중 택일), 주소, 이메일
[서비스 이용 과정 및 처리 과정으로 인한 수집]
- OS 종류, 브라우저 종류, 서비스 이용기록, 불량이용기록, 접속로그, 쿠키, 접속IP, 결제기록
나. 개인정보 수집방법
회사는 다음과 같은 방법으로 개인정보를 수집합니다.
- 홈페이지, 서면양식, 전화, 이메일
		
제7조 (개인정보의 파기)
① 회사는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다.
② 정보주체로부터 동의 받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다.
③ 개인정보 파기의 절차 및 방법은 다음과 같습니다.
1. 파기절차 : 회사는 파기 사유가 발생한 개인정보를 선정하고, 회사의 개인정보 보호책임자의 승인을 받아 개인정보를 파기합니다.
2. 파기방법 : 회사는 전자적 파일 형태로 기록ㆍ저장된 개인정보는 기록을 재생할 수 없도록 로우레밸포멧(Low Level Format) 등의 방법을 이용하여 파기하며, 종이 문서에 기록ㆍ저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.
		
제8조 (개인정보의 안전성 확보조치)
회사는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.
① 개인정보처리시스템 접근 제한
개인정보를 처리하는 데이터베이스시스템에 대한 접근 권한의 부여, 변경, 말소를 통하여 개인정보에 대한 접근 통제를 하고 있으며, 침입 차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.
② SSL 암호화
전송데이터를 암호화하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.
③ 해킹 등에 대비한 기술적 대책
당행은 해킹이나 컴퓨터 바이러스 등에 대한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하여 주기적인 갱신ㆍ점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하는 등 기술적ㆍ물리적으로 감시 및 차단하고 있습니다.
④ 개인정보 취급 직원의 최소화 및 교육
개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화하여 개인정보를 관리하는 대책을 시행하고 있습니다.
		
제9조 (개인정보 처리방침 변경)
당행이 개인정보 처리 방침을 변경하는 경우에는 변경 및 시행의 시기, 변경된 내용을 지속적으로 공개하며, 변경된 내용은 고객이 쉽게 확인할 수 있도록 변경 전ㆍ후를 비교하여 공개합니다.
		
제10조 (권익침해 구제방법)
고객은 개인정보침해로 인한 신고나 상담이 필요하신 경우 아래 기관에 문의하시기 바랍니다.
1. 개인정보분쟁조정위원회 (https://www.kopico.go.kr / 1833-6972)
2. 한국인터넷진흥원 개인정보침해신고센터 (http://privacy.kisa.or.kr / (국번없이) 118)
3. 정보보호마크인증위원회 (http://www.eprivacy.or.kr / 02-550-9531~2)
4. 대검찰청 사이버수사과 (http://www.spo.go.kr / (국번없이) 1301)
5. 경찰청 사이버안전국 (http://cyberbureau.police.go.kr / (국번없이) 182 )
		
제11조 (개인정보 열람청구)
정보주체는 개인정보 보호법 제35조에 따른 개인정보의 열람 청구를 아래의 부서에 할 수 있습니다. 회사는 정보주체의 개인정보 열람청구가 신속하게 처리되도록 노력하겠습니다.
개인정보 보호 담당부서 : 김연숙 주임 (인사팀 | 02-959-0615)
		
제12조 (개인정보 보호책임자)
① 회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.
개인정보 보호책임자 : 김연숙 주임 (인사팀 | 02-959-0615)
② 정보주체께서는 회사의 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 회사는 정보주체의 문의에 대해 지체없이 답변 및 처리해드릴 것입니다.
					</textarea>
                <input id="agreePolicy" name="agreePolicy" required type="checkbox" onChange="checkBox()"><label for="agreePolicy">개인정보보호방침에 동의합니다.</label>
            </div>
            <input id="agreeAll" type="checkbox" onChange="checkBox()"><label for="agreeAll">위 내용에 전부 동의합니다.</label>
            <div class="tc pad30">
                <button type="submit" class="style">다음</button>
            </div>
        </form>
    </div>
</div>
<script>
    function checkBox() {
        var allCheck = $('#agreeAll').prop('checked');
        if (allCheck == true) {
            $('#agreeTerms').attr('checked', 'checked');
            $('#agreePolicy').attr('checked', 'checked');
        }
    }

</script>