<script src="/js/data.js" language="javascript"></script>
<script>
    const legends = {
        patent: ['A90', 'A80', 'A70', 'A60', 'A50', 'A40', 'A30', 'A20', 'A10', 'A00'],
        article: ['B90', 'B80', 'B70', 'B60', 'B50', 'B40', 'B30', 'B20', 'B10', 'B00'],
        //	color:['#DC1010','#8D4342','#00F','#FC0','#FCC'],
    };
    var series = [];
    var currentPage = 1;
    var pagePosts = 30;

    var getParameters = function (paramName) {
        var returnValue;
        var url = location.href;
        var parameters = (url.slice(url.indexOf('?') + 1, url.length)).split('&');
        for (var i = 0; i < parameters.length; i++) {
            var varName = parameters[i].split('=')[0];
            if (varName.toUpperCase() == paramName.toUpperCase()) {
                returnValue = parameters[i].split('=')[1];
                return decodeURIComponent(returnValue);
            }
        }
    };

    var keywords = getParameters('keywords');

    function searchPatent() {

        $.ajax({ // 논문 API
            url: 'https://k2gdoc2vec.azurewebsites.net/patentData?searchWord=' + keywords.replace(' ', '*'),
            type: "GET",
            dataType: "JSON",
            beforeSend: function () {
                console.log('Patent Start');
                $('#loading>div').append('<p>특허데이터를 분석 중입니다.</p>');
            },
            success: function (result) {
                console.log('Patent Success');
                $('#loading>div').append('<p>특허데이터 분석이 완료되었습니다.</p>');
                data["patent"] = result;
                pushSeries("patent");
            },
            error: function () {
                $('#loading>div').append('<p style="color:#C00;">특허데이터 획득에 실패하였습니다.</p>');
            },
            complete: function () {
                console.log('Patent End');
                searchArticles();
            }
        });


    }

    function searchArticles() {
        $.ajax({ // 논문 API
            url: 'https://k2gdoc2vec.azurewebsites.net/thesisData?searchWord=' + keywords,
            type: "GET",
            dataType: "JSON",
            beforeSend: function () {
                console.log('Article Start');
                $('#loading>div').append('<p>논문 데이터를 분석 중입니다.</p>')
            },
            success: function (result) {
                console.log('Article Success');
                $('#loading>div').append('<p>논문데이터 분석이 완료되었습니다.</p>')
                data["article"] = result;
                pushSeries("article");
            },
            error: function () {
                $('#loading>div').append('<p style="color:#C00;">논문데이터 분석이 실패하였습니다.</p>');
            },
            complete: function () {
                console.log('Article Ended');
                initiateChart();
            }
        });
    }

    function initiateChart() {
        console.log(series);
        showChart();
        myChart.setOption(option);
        legendAll();
    }

    //Adding Series
</script>

<div class="rela">
    <div id="loading" class="w100 h100 abs flex center" style="background-color:#FFF; z-index: 1000;">
        <div>
            <img src="/img/loading.gif" alt="loading">
            <h4 class="tc">검색 중입니다. 검색어에 따라 2~10분 정도 소요됩니다.</h4>
        </div>
    </div>


    <h3 class="tc">범주를 선택하세요.</h3>
    <div>
        <div class="flex center">
            <select id="custom_legend" class="style" onChange="selectLegend()">
                <option value="all">전체</option>
                <optgroup class="patent" label="특허"></optgroup>
                <optgroup class="article" label="논문"></optgroup>
            </select>
        </div>
    </div>
    <div id="graph_wrap" class="flex center pad10">
        <div id="graph">
        </div>
    </div>
</div>
<div id="table_wrap" class="pad20 w1200">
    <h3 id="table_title" class="pad20"></h3>
    <table class="w100 tc">
    </table>

    <div class="flex center">
        <div id="pagination" class="pagination flex between pad20">
        </div>
    </div>
</div>

<script src="/js/functions.js" language="javascript"></script>
<script src="/js/chart.js" language="javascript"></script>
<script src="/js/resize.js" language="javascript"></script>
<script>

    function pushSeries(type) {
        for (i = 0; i < legends[type].length; i++) {
            var dataName = legends[type][i]
            const thisData = {
                [type]: {
                    name: dataName,
                    type: 'scatter',
                    coordinateSystem: 'polar',
                    symbol: 'circle',
                    data: data[type][dataName]['coordinate'],
                    //color:legends["color"][i],
                    animationDelay: function (idx) { return idx * 5; }
                },
            };
            var dataCounts = data[type][dataName]['coordinate'].length
            if (dataCounts > 0) {
                series.push(thisData[type]);
                var legend_elements = '<option value="' + dataName + '" data-type="' + type + '">' + dataName.substr(1) + '% (' + dataCounts + '개)' + '</option>';
                $('optgroup.' + type).append(legend_elements);
            }
        }
    }

</script>


<script>

    searchPatent();
    
</script>