<script src="/js/data.js" language="javascript"></script>
<script src="/js/ajax_result.js" language="javascript"></script>
<div id="loading" class="w100 h100 abs flex center" style="background-color:#FFF; z-index: 1000;">
	<div id="status" class="tc">
		<h4 class="mb10 wh">검색 중입니다. <wbr>검색어에 따라 2~3분 정도 소요됩니다.</h4>		
	</div>
</div>
<div id="pdfloading" class="w100 h100 abs flex center" style="background-color:#FFF; z-index: 1000; display: none;">
	<div class="tc">
		<img src="/img/loading.gif" alt="loading" style="width:200px;">
		<h4 class="mb10 wh">PDF 파일을 생성중입니다. <wbr>검색결과에 따라 2~3분 정도 소요됩니다.</h4>
	</div>
</div>
<div class="rela">
	<div class="w100">
		<h3 class="tc">범주를 선택하세요.</h3>
		<div class="pad20">
			<div class="flex center">			
				<select id="legend_all" class="style legendSelect" style="margin:5px;" onChange="selectLegend('all')">
					<option value="E00">전체</option>
					<option id="E90" value="E90" class="none">90%</option>
					<option id="E80" value="E80" class="none">80%</option>
					<option id="E70" value="E70" class="none">70%</option>
					<option id="E60" value="E60" class="none">60%</option>
					<option id="E50" value="E50" class="none">50%</option>
					<option id="E40" value="E40" class="none">40%</option>
					<option id="E30" value="E30" class="none">30%</option>
					<option id="E20" value="E20" class="none">20%</option>
					<option id="E10" value="E10" class="none">10%</option>
				</select>
				<select id="legend_patent" class="style legendSelect" style="margin:5px;" onChange="selectLegend('patent')">
					<option value="P00">특허</option>						
				</select>
				<select id="legend_article" class="style legendSelect" style="margin:5px;" onChange="selectLegend('article')">
					<option value="A00">논문</option>						
				</select>
			</div>
		</div>
		<div id="graph_wrap" class="flex center pad10">	
			<div id="graph">		
			</div>
		</div>	
	</div>
	<div id="tableWrap" class="pad20 w1400">
		<div id="patent_wrap" class="post_wrap">
			<div id="patentTitle" class="flex between">
				<h3 class="pad20">특허</h3>
				<div class="btn_wrap"><button class="pad10" onClick="popupReportSelected()">목록 다운로드 (Excel)</button><button class="pad10" onClick="downAll()">리포트 다운로드 (PDF)</button></div>
			</div>
			<table id="table_patent" class="w100 tc toc">
				<thead><tr><th class="no"><input type="checkbox" name="checkboxAll" value="selectall" onclick="selectAll(this)" /></th><th class="no">번호</th><th class="title">제목</th><th>유사도</th><th class="year">출원일</th><th class="report"></th></tr></thead>
				<tbody></tbody>
			</table>
			<div class="flex center">
				<div id="page_patent" class="pagination flex between pad20">
				</div>
			</div>
		</div>
		<div id="article_wrap" class="post_wrap">
			<div id="articleTitle" class="flex between">
				<h3 class="pad20">논문</h3>
				<div class="btn_wrap"><button class="pad10" onClick="popupReportSelected()">목록 다운로드 (Excel)</button><button class="pad10" onClick="downAll()">리포트 다운로드 (PDF)</button></div>
			</div>
			<table id="table_article" class="w100 tc toc">	
				<thead><tr><th class="no"><input type="checkbox" name="checkboxAll" value="selectall" onclick="selectAll(this)" /></th><th class="no">번호</th><th class="title">제목</th><th>유사도</th><th class="year">발행연도</th><th class="report"></th></tr></thead>
				<tbody></tbody>
			</table>
			<div class="flex center">
				<div id="page_article" class="pagination flex between pad20">
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/js/functions.js" language="javascript"></script>
<script src="/js/functions_scatter.js" language="javascript"></script>
<script src="/js/functions_contents.js" language="javascript"></script>
<script src="/js/chart.js" language="javascript"></script>
<script src="/js/animation.js" language="javascript"></script>

<script>
    totalAjax();
</script>