<script src="/js/data.js" language="javascript"></script>
<script>
	function totalAjax2(target) {
		const patentUrl = 'https://k2gdoc2vec.azurewebsites.net/patentData?searchWord='+'@ViewBag.PatentKeyword';
		
		$.when(
			$.ajax({ // 특허 API
			url: patentUrl,
			type: "GET",
			dataType: "JSON",
			beforeSend: function () {
				console.log("Patent Start");
				$('div#status').append('<p>특허데이터를 분석 중입니다.</p>');
			},
			success: function (result) {
				console.log('Patent Success');
				$('div#status').append('<p>특허데이터 분석이 완료되었습니다.</p>');
				data["patent"] = result;
				pushScatterSeries("patent");
			},
			error: function () {
				$('#loading>div#status').append('<p style="color:#C00;">특허데이터 획득에 실패하였습니다.</p>');
				$('div#btn').html('<a onClick="refresh()" class="btn blue" style="padding:10px 20px;">재검색</a>');
			},
			complete: function () {
				console.log('Patent End');
				//searchArticles();
			}
		}),

		).done(function () {
			initiateChart("scatter");
		});
	}	
</script>
<style>
	body {overflow: hidden;}
	.cf{
		display:block;
		content = "";
		clear:both;
	}
	body {
		font-family: 'Noto Sans KR',sans-serif;
	}
	#wrap {
		width: 100%;
		/* width: 1920px; height= 1080 */
	}
	.userbox {
		margin-top: 5.555556vh;
		width: 100%;
		padding-top:8vh;
		height: 32.666667vh;
		background-color: #00B2EC;
	}
	.userbox h2{
		color:#D7E4E8;
		font-size:4.766667vh;
		font-weight:900;
		text-shadow: 0px 1px 1px #000;
	}
	.userbox p {
		font-size:1.35vh;
		font-weight:400;
	}
	#usersearch{
		margin-left:0 ;
		padding-left:0 ;
		margin-top:8px;
	}
	#usersearch input{
		background-image:url(~/img/userfinderimage.png/);
	}
	.userreact {
		width:72%;
		margin: 0 auto;
	}
	.userbox_left{
		width:75%;
		float:left;
	}
	.userbox_left div{
		max-width:1000px;
	}
	.userbox_right{
		width:22%;
		float:left;
		margin-left:30px;
	}
	.userbox_right img{
		margin:0;
		margin-top:1.503704vh;
		width: 14.8125vw;  
		height: 21.296296vh;
		padding:0;
	}
	.searchside {
		position:absolute;
		right:12px;
		top:22px;
		z-index:222;
	}
	.userresult{
        width: 100%;
    }
	/* 2022년 5월 9일 */
	#table_patent tbody th{
		background-color: #fff;
		color: #000;
		font-family: 'Noto Sans Kr',sans-serif;
	}
</style>
<div class="rela">
	<form name="search" method="post" class="flex center w100 h100" action="result">
		<div class="userbox">
			<div class="userreact cf">
				<div class="userbox_left">
					<h2>K2G User Finder service</h2>
					<div class="pad20" id="usersearch">
						<div style="box-sizing: border-box; position:relative;">
							<input name="searchWord" id="main_search" placeholder="검색어를 입력하세요.">
							<div class="searchside">
								<img src=".~img/search.png"/>
							</div>
						</div>
					</div>
					<p>한국)출원번호:10-2016-0002154,등록번호:10-1623332&nbsp;|&nbsp;미국)출원번호:13-532918,등록번호:US7787591&nbsp;|&nbsp;유럽)출원번호:EP201588794,등록번호:EP02594436B1</p>
				</div>
				<div class="userbox_right">
					<img src="~/img/userimg.png"/>
				</div>
			</div>
		</div>
	</form>
	<div id="tableWrap" class="pad20 w1400">
		<div id="patent_wrap" class="post_wrap">
			<div id="patentTitle" class="flex between">
				<h3 class="pad20">특허</h3>
			</div>
			<table id="table_patent" class="w100 tc toc">
				<thead><tr><th class="no"><input type="checkbox" name="checkboxAll" value="selectall"/></th><th class="no">번호</th><th class="title">특허명</th><th>인용번호</th><th class="year">인용기업</th></tr></thead>
				<tbody>
					{% for i in range(pnamenum) %}
							<tr id="row"><th class="no"><input type="checkbox" name="checkbox" value="selectall"/></th><th class="no">{{i+inumnum}}</th><th class="title">{{patentnamelist[i]}}</th><th>{{usepatentlist[i]}}</th><th class="year">{{usenamelist[i]}}</th></tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script src="/js/functions.js" language="javascript"></script>
<script src="/js/functions_scatter.js" language="javascript"></script>
<script src="/js/functions_contents.js" language="javascript"></script>
<script src="/js/chart.js" language="javascript"></script>
<script src="/js/animation.js" language="javascript"></script>

<script>
    totalAjax2();
</script>