@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700&display=swap');

html {
	width: 100%;
	height: 100%;
}

html, input, textarea, select {
	font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 1.0em;
}

body {
	margin: 0;
	font-size: 1.1em;
	min-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

b, strong, .bold {
	font-weight: 500;
}

	strong#logo {
		font-weight: 900;
	}

h1, h2, h3, h4, h5, h6, h7, h8, h9, p {
	margin: 0;
	padding: 0;
}

small, .small {
	font-size: 0.6em;
}

header {
	box-sizing: border-box;
	z-index: 100;
}

footer {
	box-sizing: border-box;
	z-index: 100;
	transition: all 0.3s;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

div {
	overflow: hidden;
}

input {
	box-sizing: border-box;
}

	input.style, select.style {
		padding: 10px 15px;
	}

textarea.style {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	min-height: 300px;
	resize: none;
	outline: none;
}

button.style {
	padding: 10px 15px;
	background-color: #000;
	color: #FFF;
	outline: none;
	border: #000 2px solid;
	font-weight: 700;
	cursor: pointer;
}

	button.style:hover {
		background-color: #FFF;
		color: #000;
	}

input.vertical {
	display: block;
	margin: 5px auto;
}

input.required {
}

select option {
	padding: 10px 15px;
}

.rela {
	position: relative;
}

.abs {
	position: absolute;
}

.link {
	text-decoration: underline;
	color: #999;
	font-size: 0.8em;
}

.tc {
	text-align: center;
}

.wh {
	white-space: nowrap;
}

.bgcover {
	background-size: cover;
	background-position: center;
}

.pad10 {
	padding: 10px;
}

.pad20 {
	padding: 20px;
}

.pad30 {
	padding: 30px;
}

.flex {
	display: flex;
}

	.flex.between {
		align-items: center;
		justify-content: space-between;
	}

	.flex.center {
		align-items: center;
		justify-content: center;
	}

	.flex.vcenter {
		align-items: center;
	}

	.flex.end {
		align-items: center;
		justify-content: flex-end;
	}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.w400 {
	max-width: 400px;
	margin: auto;
}

.w600 {
	max-width: 600px;
	margin: auto;
}

.w800 {
	max-width: 800px;
	margin: auto;
}

.w1000 {
	max-width: 1000px;
	margin: auto;
}

.w1200 {
	max-width: 1200px;
	margin: auto;
}

.none {
	display: none;
}

/* Header */
#logo {
	font-size: 1.4em;
}

#nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

	#nav a, #mnav a {
		font-weight: 300;
	}

		#nav a:hover, #mnav a:hover {
			color: #C00;
		}

		#nav a.active, #mnav a.active {
			font-weight: 500;
			color: #C00;
		}

#mnav {
	display: none;
}

	#mnav a {
		display: block;
	}
/* Search */

#main_search {
	padding: 20px;
	width: 1000px;
	max-width: 100%;
	border-radius: 5px;
	border: #CCC 1px solid;
}

	#main_search:focus {
		border: #000 1px solid;
	}

#search_engine {
	border: none;
	outline: none;
	padding: 15px;
}

#custom_legend {
	z-index: 100;
	font-size: 1.2em;
	flex-wrap: wrap;
	border: none;
	outline: none;
}

	#custom_legend li {
		padding: 15px;
	}

		#custom_legend li span {
			width: 10px;
			height: 10px;
			display: inline-block;
			background-color: #CCC;
			border-radius: 20px;
			margin-right: 5px;
		}

#table_wrap table, #load_all table {
	border-spacing: 0;
	vertical-align: middle;
}
/*20220210 전체목록 테이블 추가 */
#table_wrap td, #load_all td {
	padding: 5px 7px;
	border-bottom: #CCC 1px solid;
}

#table_wrap th, #load_all th {
	font-size: 0.9em;
	background-color: #333;
	color: #FFF;
	font-weight: 400;
	padding: 5px 7px;
	white-space: nowrap;
}
/*20220210 글자크기 수정 */
#table_wrap a.href, #load_all a.href {
	text-decoration: underline;
}

#table_wrap a.report, #load_all a.report {
	padding: 5px;
	background-color: #EEE;
	border: #CCC 1px solid;
	display: inline-block;
	white-space: nowrap;
	border-radius: 5px;
}

#table_wrap .no, #load_all .no {
	width: 20px;
}

#table_wrap .author, #load_all .author {
	width: 250px;
}

#table_wrap .similarity, #load_all .similarity {
	width: 120px;
}

#table_wrap .report, #load_all .report {
	width: 60px;
}

#table_wrap .year, #load_all .year {
	width: 50px;
}

#table_wrap .href, #load_all .href {
	width: 50px;
}

#table_wrap .link, #load_all .link {
	filter: grayscale(1.0);
}

	#table_wrap .link:hover, #load_all .link:hover {
		filter: grayscale(0);
	}

#btn_wrap {
	display: flex;
}
	/*20220210 추가 */
	#btn_wrap button, .download {
		margin: 5px;
		background-color: #111;
		outline: none;
		border: #111 2px solid;
		color: #FFF;
		cursor: pointer;
		font-size: 0.8em;
	}
		/*20220210 클래스 추가, 글자크기 수정 */
		#btn_wrap button:hover, .download:hover {
			color: #000;
			background-color: transparent;
		}
/*20220210 클래스 추가, 글자크기 수정 */

span.paging {
	color: #999;
	cursor: pointer;
}

	span.paging.bold {
		color: #000;
	}

.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb40 {
	margin-bottom: 40px;
}

.mb50 {
	margin-bottom: 50px;
}

.mt10 {
	margin-top: 10px;
}

/*20220210 추가 {*/
.w1400 {
	max-width: 1400px;
	margin: auto;
}

.btn {
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 0.8em;
	display: inline-flex;
	align-items: center;
}

	.btn.blue {
		background-color: #00B0EC;
		color: #FFF;
	}

		.btn.blue:hover {
			background-color: #00A0DC;
		}
/*20220210 추가 }*/

@media screen and (max-width:600px) {
	html {
		font-size: 0.8em;
	}

	.mhide {
		display: none;
	}

	#hamburger {
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-direction: column;
		padding: 30px;
		width: 30px;
		height: 30px;
	}

		#hamburger span {
			width: 30px;
			height: 2px;
			display: inline-block;
			margin: 3px;
			background-color: #000;
			transition: all 0.3s;
		}

		#hamburger.active span:first-child {
			opacity: 0;
		}

		#hamburger.active span:last-child {
			opacity: 0;
		}

	#nav {
		display: none;
	}

	#table_wrap table {
		font-size: 0.8em;
		text-align: left;
	}

		#table_wrap table, #table_wrap table > tbody {
			display: block;
		}

			#table_wrap table > tbody > tr {
				display: flex;
				flex-direction: column;
				border-bottom: #CCC 1px solid;
			}

				#table_wrap table > tbody > tr.none {
					display: none;
				}

				#table_wrap table > tbody > tr > th {
					display: none;
				}

				#table_wrap table > tbody > tr > td {
					display: block;
					border: none;
				}
}